#wa-comptext-jmt8vqfr1dslz0i8lc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jmt8vqgc1dslxwvqww {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jmt8vqgc1dslz0a9ds {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jmt8vqgc1dslz0awao {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jmt8vqh81dslxvt6o0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jmt8vqh81dslxwvs3k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jmt8vqh91dslxvt7uo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jn1u8bzg1dph2jg2kg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jn1u8bzg1dph2jg2kg>.row>.clearfix {margin-bottom:0px;}
#wa-container-jn1u8bzg1dph2jg2kg>.wa-container-vspacer {height:0px;}
#wa-container-jn1u8bzh1dph2b9l34 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jn1u8bzh1dph2b9l34>.row>.clearfix {margin-bottom:0px;}
#wa-container-jn1u8bzh1dph2b9l34>.wa-container-vspacer {height:0px;}
#wa-container-jn1u8bzj1dph2g1k3k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jn1u8bzj1dph2g1k3k>.row>.clearfix {margin-bottom:0px;}
#wa-container-jn1u8bzj1dph2g1k3k>.wa-container-vspacer {height:0px;}
#wa-container-jn1u8bzj1dph2g5hxc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jn1u8bzj1dph2g5hxc>.row>.clearfix {margin-bottom:0px;}
#wa-container-jn1u8bzj1dph2g5hxc>.wa-container-vspacer {height:0px;}
#wa-container-jn1u8bzl1dph2e1k3k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jn1u8bzl1dph2e1k3k>.row>.clearfix {margin-bottom:0px;}
#wa-container-jn1u8bzl1dph2e1k3k>.wa-container-vspacer {height:0px;}
#wa-row-jmt8vqfr1dslze3wsw {margin:0px 0px;}
#wa-row-jmt8vqfr1dslze3wsw>div {padding: 0px 0px;}
#wa-row-jmt8vqfr1dslze5dnk>.wa-item-rowspacer {height:500px;}
#wa-row-jmt8vqfr1dslze5p7k>.wa-item-rowspacer {height:100px;}
#wa-row-jmt8vqgc1dslzdxij4 {margin:0px 0px;}
#wa-row-jmt8vqgc1dslzdxij4>div {padding: 0px 0px;}
#wa-row-jmt8vqgc1dslze3ueo {margin:0px 0px;}
#wa-row-jmt8vqgc1dslze3ueo>div {padding: 0px 0px;}
#wa-row-jmt8vqgc1dslze4wvk>.wa-item-rowspacer {height:100px;}
#wa-row-jmt8vqgc1dslze553k {margin:0px 0px;}
#wa-row-jmt8vqgc1dslze553k>div {padding: 0px 0px;}
#wa-row-jmt8vqgc1dslze5krk>.wa-item-rowspacer {height:100px;}
#wa-row-jmt8vqgu1dslyeg78g {margin:0px 0px;}
#wa-row-jmt8vqgu1dslyeg78g>div {padding: 0px 0px;}
#wa-row-jmt8vqgu1dslz4v78w>.wa-item-rowspacer {height:800px;}
#wa-row-jmt8vqh81dslz9hu7k {margin:0px 0px;}
#wa-row-jmt8vqh81dslz9hu7k>div {padding: 0px 0px;}
#wa-row-jmt8vqh81dslz9iqgw>.wa-item-rowspacer {height:100px;}
#wa-row-jmt8vqh81dslzamvdc {margin:0px 0px;}
#wa-row-jmt8vqh81dslzamvdc>div {padding: 0px 0px;}
#wa-row-jmt8vqhr1dslzaxv5s {margin:0px 0px;}
#wa-row-jmt8vqhr1dslzaxv5s>div {padding: 0px 0px;}
#wa-row-jmt8vqhr1dslzayqzk>.wa-item-rowspacer {height:200px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jmt8vqfr1dslze3wsw {margin:0px 0px;}
#wa-row-jmt8vqfr1dslze3wsw>div {padding: 0px 0px;}
#wa-row-jmt8vqfr1dslze5p7k>.wa-item-rowspacer {height:300px;}
#wa-row-jmt8vqgc1dslzdxij4 {margin:0px 0px;}
#wa-row-jmt8vqgc1dslzdxij4>div {padding: 0px 0px;}
#wa-row-jmt8vqgc1dslze3ueo {margin:0px 0px;}
#wa-row-jmt8vqgc1dslze3ueo>div {padding: 0px 0px;}
#wa-row-jmt8vqgc1dslze553k {margin:0px 0px;}
#wa-row-jmt8vqgc1dslze553k>div {padding: 0px 0px;}
#wa-row-jmt8vqgu1dslyeg78g {margin:0px 0px;}
#wa-row-jmt8vqgu1dslyeg78g>div {padding: 0px 0px;}
#wa-row-jmt8vqh81dslz9hu7k {margin:0px 0px;}
#wa-row-jmt8vqh81dslz9hu7k>div {padding: 0px 0px;}
#wa-row-jmt8vqh81dslzamvdc {margin:0px 0px;}
#wa-row-jmt8vqh81dslzamvdc>div {padding: 0px 0px;}
#wa-row-jmt8vqhr1dslzaxv5s {margin:0px 0px;}
#wa-row-jmt8vqhr1dslzaxv5s>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jmt8vqfr1dslze3wsw {margin:0px 0px;}
#wa-row-jmt8vqfr1dslze3wsw>div {padding: 0px 0px;}
#wa-row-jmt8vqfr1dslze5p7k>.wa-item-rowspacer {height:300px;}
#wa-row-jmt8vqgc1dslzdxij4 {margin:0px 0px;}
#wa-row-jmt8vqgc1dslzdxij4>div {padding: 0px 0px;}
#wa-row-jmt8vqgc1dslze3ueo {margin:0px 0px;}
#wa-row-jmt8vqgc1dslze3ueo>div {padding: 0px 0px;}
#wa-row-jmt8vqgc1dslze553k {margin:0px 0px;}
#wa-row-jmt8vqgc1dslze553k>div {padding: 0px 0px;}
#wa-row-jmt8vqgu1dslyeg78g {margin:0px 0px;}
#wa-row-jmt8vqgu1dslyeg78g>div {padding: 0px 0px;}
#wa-row-jmt8vqh81dslz9hu7k {margin:0px 0px;}
#wa-row-jmt8vqh81dslz9hu7k>div {padding: 0px 0px;}
#wa-row-jmt8vqh81dslzamvdc {margin:0px 0px;}
#wa-row-jmt8vqh81dslzamvdc>div {padding: 0px 0px;}
#wa-row-jmt8vqhr1dslzaxv5s {margin:0px 0px;}
#wa-row-jmt8vqhr1dslzaxv5s>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jmt8vqfr1dslze3wsw {margin:0px 0px;}
#wa-row-jmt8vqfr1dslze3wsw>div {padding: 0px 0px;}
#wa-row-jmt8vqfr1dslze5p7k>.wa-item-rowspacer {height:300px;}
#wa-row-jmt8vqgc1dslzdxij4 {margin:0px 0px;}
#wa-row-jmt8vqgc1dslzdxij4>div {padding: 0px 0px;}
#wa-row-jmt8vqgc1dslze3ueo {margin:0px 0px;}
#wa-row-jmt8vqgc1dslze3ueo>div {padding: 0px 0px;}
#wa-row-jmt8vqgc1dslze553k {margin:0px 0px;}
#wa-row-jmt8vqgc1dslze553k>div {padding: 0px 0px;}
#wa-row-jmt8vqgu1dslyeg78g {margin:0px 0px;}
#wa-row-jmt8vqgu1dslyeg78g>div {padding: 0px 0px;}
#wa-row-jmt8vqh81dslz9hu7k {margin:0px 0px;}
#wa-row-jmt8vqh81dslz9hu7k>div {padding: 0px 0px;}
#wa-row-jmt8vqh81dslzamvdc {margin:0px 0px;}
#wa-row-jmt8vqh81dslzamvdc>div {padding: 0px 0px;}
#wa-row-jmt8vqhr1dslzaxv5s {margin:0px 0px;}
#wa-row-jmt8vqhr1dslzaxv5s>div {padding: 0px 0px;}
}
