html {
  margin: 0;
  padding: 0;
}

body * {
  /* font-family: 'Poiret One', cursive; */
  font-family: 'Rajdhani', sans-serif;
}


#calendrier-tooltip {
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 300px;
  height: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: #fbfbfb;
  border: solid 1px #f1f1f1;
  border-radius: 5px;
  box-shadow: 6px 6px 9px rgba(120, 120, 120, 0.1);
  z-index: 100;
  overflow: hidden;
}

#calendrier-tooltip p:last-of-type {
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  color: #666666;
}

#calendrier-modal {
  position: absolute;
  margin-left: 15px;
  margin-right: 15px;
}

#calendrier-modal .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 40%;
    margin: 0 auto;
}

#calendrier-modal .modal-footer {
  justify-content: space-between;
  align-items: center;
}

#calendrier-modal .modal-footer p {
  margin: 0;
}

.container.calendrier{
  height: auto;
}

#calendrier {
  margin-top: 5vh;
  height: auto;
}

#legende.container {
  margin-top: 20px;
}

#legende.container * {
  font-size: 0.95em;
  font-weight: 500;
}

#legende.container .btn {
  padding: 3px 10px !important;
  color: #FFFFFF;
}

#legende.container #pgr {
  background-color: #FFBF00;
}
#legende.container #ggr {
  background-color: #C20000;
}
#legende.container #gl {
  background-color: #7FDD4C;
}

@media screen and (width < 576px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}
