#wa-compbutton-jojtpgxz1driv9lxxc {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jojtpgxz1driv9lxxc-halign {text-align:left;}
#wa-compbutton-jojtpgxz1driv9lxxc:hover {background-color:#2e6da4;}
#wa-compbutton-jojtpiw81driuqzaio {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jojtpiw81driuqzaio-halign {text-align:left;}
#wa-compbutton-jojtpiw81driuqzaio:hover {background-color:#2e6da4;}
#wa-compbutton-jojtpkpb1driv61xxc {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jojtpkpb1driv61xxc-halign {text-align:left;}
#wa-compbutton-jojtpkpb1driv61xxc:hover {background-color:#2e6da4;}
#wa-compbutton-jojtpm6n1driuqgwe8 {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jojtpm6n1driuqgwe8-halign {text-align:left;}
#wa-compbutton-jojtpm6n1driuqgwe8:hover {background-color:#2e6da4;}
#wa-compbutton-jojtpo451driurps74 {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jojtpo451driurps74-halign {text-align:left;}
#wa-compbutton-jojtpo451driurps74:hover {background-color:#2e6da4;}
#wa-compbutton-jojtppj21driuzlvk0 {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jojtppj21driuzlvk0-halign {text-align:left;}
#wa-compbutton-jojtppj21driuzlvk0:hover {background-color:#2e6da4;}
#wa-compbutton-jojtpqpo1driurwq9s {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jojtpqpo1driurwq9s-halign {text-align:left;}
#wa-compbutton-jojtpqpo1driurwq9s:hover {background-color:#2e6da4;}
#wa-comptext-joju0cmx1driv47fgg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jojtlj2e1driuqzbpc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jojtlj2e1driuqzbpc>.row>.clearfix {margin-bottom:0px;}
#wa-container-jojtlj2e1driuqzbpc>.wa-container-vspacer {height:0px;}
#wa-container-jojtlj2f1driuprim8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jojtlj2f1driuprim8>.row>.clearfix {margin-bottom:0px;}
#wa-container-jojtlj2f1driuprim8>.wa-container-vspacer {height:0px;}
#wa-container-jojtlj2f1driurm328 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jojtlj2f1driurm328>.row>.clearfix {margin-bottom:0px;}
#wa-container-jojtlj2f1driurm328>.wa-container-vspacer {height:0px;}
#wa-container-jojtlpbf1driv67pq8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jojtlpbf1driv67pq8>.row>.clearfix {margin-bottom:0px;}
#wa-container-jojtlpbf1driv67pq8>.wa-container-vspacer {height:0px;}
#wa-row-jjmb58dd1dumhilsbk {margin:0px 0px;}
#wa-row-jjmb58dd1dumhilsbk>div {padding: 0px 0px;}
#wa-row-jkhq9lin1dvwmt90uw {margin:0px 0px;}
#wa-row-jkhq9lin1dvwmt90uw>div {padding: 0px 0px;}
#wa-row-jldt6vhb1dv27yy1gg {margin:0px 0px;}
#wa-row-jldt6vhb1dv27yy1gg>div {padding: 0px 0px;}
#wa-row-jojtlov71driwin51s {margin:0px 0px;}
#wa-row-jojtlov71driwin51s>div {padding: 0px 0px;}
[id^=wa-compmenu-jojtlov71driwbwyhc] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-jojtlov71driwbwyhc] .dropdown-menu > li > a:hover, [id^=wa-compmenu-jojtlov71driwbwyhc] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default {background-color:#f8f8f8; border-color:#f7f7f7; border-width:1px; border-radius:4px; min-height:0px;}
[id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-brand, [id^=wa-compmenu-jojtlov71driwbwyhc].navbar-nav li a, [id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-nav .open .dropdown-menu > li > a,[id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-nav .open .dropdown-menu li.dropdown-header {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:14px; color:#777777;}
[id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#333333;}
[id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-nav .open .dropdown-menu li.divider {background-color:#777777;}
[id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-nav > .open > a:focus {color:#777777; background-color:#e7e7e7;}
[id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-jojtlov71driwbwyhc] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-jojtlov71driwbwyhc].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
[id^=wa-compmenu-jojtlov71driwbwyhc] .wa-srch-input {font-size:14px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jjmb58dd1dumhilsbk {margin:0px 0px;}
#wa-row-jjmb58dd1dumhilsbk>div {padding: 0px 0px;}
#wa-row-jkhq9lin1dvwmt90uw {margin:0px 0px;}
#wa-row-jkhq9lin1dvwmt90uw>div {padding: 0px 0px;}
#wa-row-jldt6vhb1dv27yy1gg {margin:0px 0px;}
#wa-row-jldt6vhb1dv27yy1gg>div {padding: 0px 0px;}
#wa-row-jojtlov71driwin51s {margin:0px 0px;}
#wa-row-jojtlov71driwin51s>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jjmb58dd1dumhilsbk {margin:0px 0px;}
#wa-row-jjmb58dd1dumhilsbk>div {padding: 0px 0px;}
#wa-row-jkhq9lin1dvwmt90uw {margin:0px 0px;}
#wa-row-jkhq9lin1dvwmt90uw>div {padding: 0px 0px;}
#wa-row-jldt6vhb1dv27yy1gg {margin:0px 0px;}
#wa-row-jldt6vhb1dv27yy1gg>div {padding: 0px 0px;}
#wa-row-jojtlov71driwin51s {margin:0px 0px;}
#wa-row-jojtlov71driwin51s>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jjmb58dd1dumhilsbk {margin:0px 0px;}
#wa-row-jjmb58dd1dumhilsbk>div {padding: 0px 0px;}
#wa-row-jkhq9lin1dvwmt90uw {margin:0px 0px;}
#wa-row-jkhq9lin1dvwmt90uw>div {padding: 0px 0px;}
#wa-row-jldt6vhb1dv27yy1gg {margin:0px 0px;}
#wa-row-jldt6vhb1dv27yy1gg>div {padding: 0px 0px;}
#wa-row-jojtlov71driwin51s {margin:0px 0px;}
#wa-row-jojtlov71driwin51s>div {padding: 0px 0px;}
}
