#wa-comptext-jl3lf4mw1dv6xf6mf4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jl3lfbz11dv6x3bvnk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jl3lfdyt1dv6xnrwu8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jl3lfeak1dv6zbkx6o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jl3lfekt1dv6xdfg1s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jl3lhi161dv6xdvy80 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jl3lhi161dv6xe6dxc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jl3lhi161dv6xegjr4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jl3lhi161dv6xego3k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jl3lhi161dv6xfmbr4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jl3lj69c1dv6xndlog {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jl3lj69c1dv6xnq0hs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jl3lj69c1dv6xnq6f4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jl3lj69c1dv6ynn5s0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jl3lj69c1dv6ynn6yo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jl3lkoax1dv6zbq3nk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jl3lkoax1dv6zbqy2o {background-color:#ffedea;border-radius:0px 0px 0px 0px;border-width:2px 2px 2px 2px;border-style:solid; border-color:#ffffff;padding:2px 2px 2px 2px;}
#wa-comptext-jl3lkoax1dv6zbrfgg {background-color:#e6eeff;border-radius:0px 0px 0px 0px;border-width:2px 2px 2px 2px;border-style:solid; border-color:#ffffff;padding:2px 2px 2px 2px;}
#wa-comptext-jl3lkoax1dv6zc229s {background-color:#fef3dd;border-radius:0px 0px 0px 0px;border-width:2px 2px 2px 2px;border-style:solid; border-color:#ffffff;padding:2px 2px 2px 2px;}
#wa-comptext-jl3lkoax1dv6zc23gg {background-color:#f8edfe;border-radius:0px 0px 0px 0px;border-width:2px 2px 2px 2px;border-style:solid; border-color:#ffffff;padding:2px 2px 2px 2px;}
#wa-comptext-jl3lkoax1dv6zc24n4 {background-color:#e5ffea;border-radius:0px 0px 0px 0px;border-width:2px 2px 2px 2px;border-style:solid; border-color:#ffffff;padding:2px 2px 2px 2px;}
#wa-comptext-jl3ll3ez1dv6xef5kw {background-color:#e5ffea;border-radius:0px 0px 0px 0px;border-width:2px 2px 2px 2px;border-style:solid; border-color:#ffffff;padding:2px 2px 2px 2px;}
#wa-comptext-jl3llhxf1dv6x68d1c {background-color:#e5ffea;border-radius:0px 0px 0px 0px;border-width:2px 2px 2px 2px;border-style:solid; border-color:#ffffff;padding:2px 2px 2px 2px;}
#wa-comptext-jl3lmt6d1dv6zapvk0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jnyewvfq1dql6sa1vk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jnyewvfq1dql6sa1vk>.row>.clearfix {margin-bottom:0px;}
#wa-container-jnyewvfq1dql6sa1vk>.wa-container-vspacer {height:0px;}
#wa-container-jnyewvg01dql6txfk0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jnyewvg01dql6txfk0>.row>.clearfix {margin-bottom:0px;}
#wa-container-jnyewvg01dql6txfk0>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-jnyewvg01dql6txfk0 {background-color:#ffffff;}
#wa-row-jl3ley9i1dv6ygfjmo {margin:0px 0px;}
#wa-row-jl3ley9i1dv6ygfjmo>div {padding: 0px 0px;}
#wa-row-jl3lhi161dv6z09qy8 {margin:0px 0px;}
#wa-row-jl3lhi161dv6z09qy8>div {padding: 0px 0px;}
#wa-row-jl3lj69c1dv6yjv60w {margin:0px 0px;}
#wa-row-jl3lj69c1dv6yjv60w>div {padding: 0px 0px;}
#wa-row-jl3lkoax1dv6yh270g>.wa-item-rowspacer {height:150px;}
#wa-row-jl3lkoax1dv6z0wd4w {margin:0px 0px;}
#wa-row-jl3lkoax1dv6z0wd4w>div {padding: 0px 0px;}
#wa-row-jl3lkoax1dv6z0zc7k {margin:0px 0px;}
#wa-row-jl3lkoax1dv6z0zc7k>div {padding: 0px 0px;}
#wa-row-jl3lkoax1dv6z1692o>.wa-item-rowspacer {height:50px;}
#wa-row-jl3lkoax1dv6z18gqo>.wa-item-rowspacer {height:50px;}
#wa-row-jl3lmu3t1dv6z10jw0 {margin:0px 0px;}
#wa-row-jl3lmu3t1dv6z10jw0>div {padding: 0px 0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jl3ley9i1dv6ygfjmo {margin:0px 0px;}
#wa-row-jl3ley9i1dv6ygfjmo>div {padding: 0px 0px;}
#wa-row-jl3lhi161dv6z09qy8 {margin:0px 0px;}
#wa-row-jl3lhi161dv6z09qy8>div {padding: 0px 0px;}
#wa-row-jl3lj69c1dv6yjv60w {margin:0px 0px;}
#wa-row-jl3lj69c1dv6yjv60w>div {padding: 0px 0px;}
#wa-row-jl3lkoax1dv6z0wd4w {margin:0px 0px;}
#wa-row-jl3lkoax1dv6z0wd4w>div {padding: 0px 0px;}
#wa-row-jl3lkoax1dv6z0zc7k {margin:0px 0px;}
#wa-row-jl3lkoax1dv6z0zc7k>div {padding: 0px 0px;}
#wa-row-jl3lmu3t1dv6z10jw0 {margin:0px 0px;}
#wa-row-jl3lmu3t1dv6z10jw0>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jl3ley9i1dv6ygfjmo {margin:0px 0px;}
#wa-row-jl3ley9i1dv6ygfjmo>div {padding: 0px 0px;}
#wa-row-jl3lhi161dv6z09qy8 {margin:0px 0px;}
#wa-row-jl3lhi161dv6z09qy8>div {padding: 0px 0px;}
#wa-row-jl3lj69c1dv6yjv60w {margin:0px 0px;}
#wa-row-jl3lj69c1dv6yjv60w>div {padding: 0px 0px;}
#wa-row-jl3lkoax1dv6z0wd4w {margin:0px -2px;}
#wa-row-jl3lkoax1dv6z0wd4w>div {padding: 0px 2px;}
#wa-row-jl3lkoax1dv6z0zc7k {margin:0px 0px;}
#wa-row-jl3lkoax1dv6z0zc7k>div {padding: 0px 0px;}
#wa-row-jl3lmu3t1dv6z10jw0 {margin:0px 0px;}
#wa-row-jl3lmu3t1dv6z10jw0>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jl3ley9i1dv6ygfjmo {margin:0px 0px;}
#wa-row-jl3ley9i1dv6ygfjmo>div {padding: 0px 0px;}
#wa-row-jl3lhi161dv6z09qy8 {margin:0px 0px;}
#wa-row-jl3lhi161dv6z09qy8>div {padding: 0px 0px;}
#wa-row-jl3lj69c1dv6yjv60w {margin:0px 0px;}
#wa-row-jl3lj69c1dv6yjv60w>div {padding: 0px 0px;}
#wa-row-jl3lkoax1dv6z0wd4w {margin:0px -2px;}
#wa-row-jl3lkoax1dv6z0wd4w>div {padding: 0px 2px;}
#wa-row-jl3lkoax1dv6z0zc7k {margin:0px 0px;}
#wa-row-jl3lkoax1dv6z0zc7k>div {padding: 0px 0px;}
#wa-row-jl3lmu3t1dv6z10jw0 {margin:0px 0px;}
#wa-row-jl3lmu3t1dv6z10jw0>div {padding: 0px 0px;}
}
