#wa-comptext-jleaukfp1dtqbtmakg {background-color:rgba(255,255,255,0.768627);border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 35px 35px 35px;}
#wa-container-jleauh8w1dtqdh6x34 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jleauh8w1dtqdh6x34>.row>.clearfix {margin-bottom:0px;}
#wa-container-jleauh8w1dtqdh6x34>.wa-container-vspacer {height:0px;}
#wa-row-jleatgho1dtqd0o4gg {margin:0px 0px;}
#wa-row-jleatgho1dtqd0o4gg>div {padding: 0px 0px;}
#wa-row-jleazybk1dtqcy6i3k>.wa-item-rowspacer {height:50px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jleatgho1dtqd0o4gg {margin:0px 0px;}
#wa-row-jleatgho1dtqd0o4gg>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jleatgho1dtqd0o4gg {margin:0px 0px;}
#wa-row-jleatgho1dtqd0o4gg>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jleatgho1dtqd0o4gg {margin:0px 0px;}
#wa-row-jleatgho1dtqd0o4gg>div {padding: 0px 0px;}
}
