#wa-comptext-jltw8d8s1duqcikvsw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jltzc8lj1duqd22134 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jltzc8lj1duqd22134>.row>.clearfix {margin-bottom:0px;}
#wa-container-jltzc8lj1duqd22134>.wa-container-vspacer {height:0px;}
#wa-container-jltzc8lj1duqd222o0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:25px 25px 25px 25px;}
#wa-container-jltzc8lj1duqd222o0>.row>.clearfix {margin-bottom:0px;}
#wa-container-jltzc8lj1duqd222o0>.wa-container-vspacer {height:0px;}
#wa-row-jltvuo5l1duqecl1q8 {margin:0px 0px;}
#wa-row-jltvuo5l1duqecl1q8>div {padding: 0px 0px;}
#wa-row-jltvuo5l1duqecl55c>.wa-item-rowspacer {height:50px;}
#wa-row-jltvuo5l1duqecl668 {margin:0px 0px;}
#wa-row-jltvuo5l1duqecl668>div {padding: 0px 0px;}
#wa-row-jltvuo5l1duqecl8e8 {margin:0px 0px;}
#wa-row-jltvuo5l1duqecl8e8>div {padding: 0px 0px;}
#wa-row-jltvuo5l1duqeclai8>.wa-item-rowspacer {height:500px;}
#wa-row-jltw8gwq1duqdyn2gw {margin:0px 0px;}
#wa-row-jltw8gwq1duqdyn2gw>div {padding: 0px 0px;}
html body {width:100%; height:100%;background-color:#ffffff;}
@media (min-width: 768px){
#wa-row-jltvuo5l1duqecl1q8 {margin:0px 0px;}
#wa-row-jltvuo5l1duqecl1q8>div {padding: 0px 0px;}
#wa-row-jltvuo5l1duqecl55c>.wa-item-rowspacer {height:100px;}
#wa-row-jltvuo5l1duqecl668 {margin:0px 0px;}
#wa-row-jltvuo5l1duqecl668>div {padding: 0px 0px;}
#wa-row-jltvuo5l1duqecl8e8 {margin:0px 0px;}
#wa-row-jltvuo5l1duqecl8e8>div {padding: 0px 0px;}
#wa-row-jltw8gwq1duqdyn2gw {margin:0px 0px;}
#wa-row-jltw8gwq1duqdyn2gw>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jltvuo5l1duqecl1q8 {margin:0px 0px;}
#wa-row-jltvuo5l1duqecl1q8>div {padding: 0px 0px;}
#wa-row-jltvuo5l1duqecl55c>.wa-item-rowspacer {height:50px;}
#wa-row-jltvuo5l1duqecl668 {margin:0px 0px;}
#wa-row-jltvuo5l1duqecl668>div {padding: 0px 0px;}
#wa-row-jltvuo5l1duqecl8e8 {margin:0px 0px;}
#wa-row-jltvuo5l1duqecl8e8>div {padding: 0px 0px;}
#wa-row-jltw8gwq1duqdyn2gw {margin:0px 0px;}
#wa-row-jltw8gwq1duqdyn2gw>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jltvuo5l1duqecl1q8 {margin:0px 0px;}
#wa-row-jltvuo5l1duqecl1q8>div {padding: 0px 0px;}
#wa-row-jltvuo5l1duqecl55c>.wa-item-rowspacer {height:50px;}
#wa-row-jltvuo5l1duqecl668 {margin:0px 0px;}
#wa-row-jltvuo5l1duqecl668>div {padding: 0px 0px;}
#wa-row-jltvuo5l1duqecl8e8 {margin:0px 0px;}
#wa-row-jltvuo5l1duqecl8e8>div {padding: 0px 0px;}
#wa-row-jltw8gwq1duqdyn2gw {margin:0px 0px;}
#wa-row-jltw8gwq1duqdyn2gw>div {padding: 0px 0px;}
}
