#wa-comptext-jb7cgzfn1duz3ne8zk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-je9hyvkv1dq45uuneo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-je9hyvkv1dq45uuneo>.row>.clearfix {margin-bottom:0px;}
#wa-container-je9hyvkv1dq45uuneo>.wa-container-vspacer {height:0px;}
#wa-container-je9hyyr61dq46aa3gg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-je9hyyr61dq46aa3gg>.row>.clearfix {margin-bottom:0px;}
#wa-container-je9hyyr61dq46aa3gg>.wa-container-vspacer {height:0px;}
#wa-row-jb7cgwt21duz4q9xlc {margin:0px 0px;}
#wa-row-jb7cgwt21duz4q9xlc>div {padding: 0px 0px;}
#wa-row-jb7ci2a91duz4pcvyo>.wa-item-rowspacer {height:200px;}
#wa-row-je9hyy581dq473bkpc {margin:0px 0px;}
#wa-row-je9hyy581dq473bkpc>div {padding: 0px 0px;}
@media (min-width: 768px){
#wa-row-jb7cgwt21duz4q9xlc {margin:0px 0px;}
#wa-row-jb7cgwt21duz4q9xlc>div {padding: 0px 0px;}
#wa-row-je9hyy581dq473bkpc {margin:0px 0px;}
#wa-row-je9hyy581dq473bkpc>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jb7cgwt21duz4q9xlc {margin:0px 0px;}
#wa-row-jb7cgwt21duz4q9xlc>div {padding: 0px 0px;}
#wa-row-je9hyy581dq473bkpc {margin:0px 0px;}
#wa-row-je9hyy581dq473bkpc>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jb7cgwt21duz4q9xlc {margin:0px 0px;}
#wa-row-jb7cgwt21duz4q9xlc>div {padding: 0px 0px;}
#wa-row-je9hyy581dq473bkpc {margin:0px 0px;}
#wa-row-je9hyy581dq473bkpc>div {padding: 0px 0px;}
}
