#wa-compimage-jk91tdvq1dtsei3gg0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-jk91tdvq1dtsei3gg0 {padding:25px 25px 25px 25px;}
#wa-comptext-jk91tdvq1dtscnce80 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:25px 25px 25px 25px;}
#wa-container-jn4d9m9f1dt3mxjshs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jn4d9m9f1dt3mxjshs>.row>.clearfix {margin-bottom:0px;}
#wa-container-jn4d9m9f1dt3mxjshs>.wa-container-vspacer {height:0px;}
#wa-container-jn4d9m9f1dt3n06whs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jn4d9m9f1dt3n06whs>.row>.clearfix {margin-bottom:0px;}
#wa-container-jn4d9m9f1dt3n06whs>.wa-container-vspacer {height:0px;}
#wa-row-jk91spag1dtse4d75c>.wa-item-rowspacer {height:100px;}
#wa-row-jk91spag1dtse4hdb4>.wa-item-rowspacer {height:100px;}
#wa-row-jk91spag1dtsf7iqcw {margin:0px 0px;}
#wa-row-jk91spag1dtsf7iqcw>div {padding: 0px 0px;}
#wa-row-jk91spag1dtsf7mou8>.wa-item-rowspacer {height:50px;}
#wa-row-jk91tdvp1dtsf04og0 {margin:0px 0px;}
#wa-row-jk91tdvp1dtsf04og0>div {padding: 0px 0px;}
#wa-row-jk950bwh1dr30t0evk {margin:0px 0px;}
#wa-row-jk950bwh1dr30t0evk>div {padding: 0px 0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jk91spag1dtsf7iqcw {margin:0px 0px;}
#wa-row-jk91spag1dtsf7iqcw>div {padding: 0px 0px;}
#wa-row-jk91tdvp1dtsf04og0 {margin:0px 0px;}
#wa-row-jk91tdvp1dtsf04og0>div {padding: 0px 0px;}
#wa-row-jk950bwh1dr30t0evk {margin:0px 0px;}
#wa-row-jk950bwh1dr30t0evk>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jk91spag1dtsf7iqcw {margin:0px 0px;}
#wa-row-jk91spag1dtsf7iqcw>div {padding: 0px 0px;}
#wa-row-jk91tdvp1dtsf04og0 {margin:0px 0px;}
#wa-row-jk91tdvp1dtsf04og0>div {padding: 0px 0px;}
#wa-row-jk950bwh1dr30t0evk {margin:0px 0px;}
#wa-row-jk950bwh1dr30t0evk>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jk91spag1dtsf7iqcw {margin:0px 0px;}
#wa-row-jk91spag1dtsf7iqcw>div {padding: 0px 0px;}
#wa-row-jk91tdvp1dtsf04og0 {margin:0px 0px;}
#wa-row-jk91tdvp1dtsf04og0>div {padding: 0px 0px;}
#wa-row-jk950bwh1dr30t0evk {margin:0px 0px;}
#wa-row-jk950bwh1dr30t0evk>div {padding: 0px 0px;}
}
