#wa-compcolor-j42fkfo21dultt7mrk {background-color:#adadad;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;height:1px;}
#wa-compcolor-j42fkfo21dulttcb28 {background-color:#adadad;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;height:1px;}
#wa-compcolor-j42fkfo21dulttifi8 {background-color:#adadad;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;height:1px;}
#wa-compcolor-j42fkfo21dulttilfk {background-color:#adadad;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;height:1px;}
#wa-compcolor-j42fkfo21dulttn5ds {background-color:#adadad;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;height:1px;}
#wa-compcolor-j42fkfo21dulttodmo {background-color:#adadad;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;height:1px;}
#wa-compimage-j42fkfo21dultt7ny8 {border-radius:0px 0px 0px 0px;border-width:1px 1px 1px 1px;border-style: solid;border-color:#000000;}
#wa-compimage-j42fkfo21dulttcc8w {border-radius:0px 0px 0px 0px;border-width:1px 1px 1px 1px;border-style: solid;border-color:#000000;}
#wa-compimage-j42fkfo21dulttigow {border-radius:0px 0px 0px 0px;border-width:1px 1px 1px 1px;border-style: solid;border-color:#000000;}
#wa-compimage-j42fkfo21dulttimm8 {border-radius:0px 0px 0px 0px;border-width:1px 1px 1px 1px;border-style: solid;border-color:#000000;}
#wa-compimage-j42fkfo21dulttn6kg {border-radius:0px 0px 0px 0px;border-width:1px 1px 1px 1px;border-style: solid;border-color:#000000;}
#wa-compimage-j42fkfo21dultux7gg {border-radius:0px 0px 0px 0px;border-width:1px 1px 1px 1px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-j42fkfo21dultt7ny8 {padding:10px 10px 10px 10px;}
#wa-compimage-padwrapper-j42fkfo21dulttcc8w {padding:10px 10px 10px 10px;}
#wa-compimage-padwrapper-j42fkfo21dulttigow {padding:10px 10px 10px 10px;}
#wa-compimage-padwrapper-j42fkfo21dulttimm8 {padding:10px 10px 10px 10px;}
#wa-compimage-padwrapper-j42fkfo21dulttn6kg {padding:10px 10px 10px 10px;}
#wa-compimage-padwrapper-j42fkfo21dultux7gg {padding:10px 10px 10px 10px;}
#wa-comptext-j42fkfo21dultt7p4w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j42fkfo21dulttcdfk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j42fkfo21dulttihvk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j42fkfo21dulttij28 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j42fkfo21dulttinsw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j42fkfo21dulttn7r4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j42fkfo21dulttp7nk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-j42fkfo21dulttttkw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-j42fkfo21dultt7p4w {padding:0px 10px 10px 10px;}
#wa-comptext-padwrapper-j42fkfo21dulttcdfk {padding:0px 10px 10px 10px;}
#wa-comptext-padwrapper-j42fkfo21dulttihvk {padding:0px 10px 10px 10px;}
#wa-comptext-padwrapper-j42fkfo21dulttinsw {padding:0px 10px 10px 10px;}
#wa-comptext-padwrapper-j42fkfo21dulttn7r4 {padding:0px 10px 10px 10px;}
#wa-comptext-padwrapper-j42fkfo21dulttttkw {padding:0px 10px 10px 10px;}
#wa-container-jm5x0z9e1dv3q7kow0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jm5x0z9e1dv3q7kow0>.row>.clearfix {margin-bottom:0px;}
#wa-container-jm5x0z9e1dv3q7kow0>.wa-container-vspacer {height:0px;}
#wa-row-j42fkfo21dulvvc9io>.wa-item-rowspacer {height:50px;}
#wa-row-j42fkfo21dulvvcjps {margin:0px 0px;}
#wa-row-j42fkfo21dulvvcjps>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvcrc0 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvcrc0>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvd9sg>.wa-item-rowspacer {height:50px;}
#wa-row-j42fkfo21dulvvdajk {margin:0px 0px;}
#wa-row-j42fkfo21dulvvdajk>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvdwkw>.wa-item-rowspacer {height:50px;}
#wa-row-j42fkfo21dulvvdxf4 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvdxf4>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvec0w>.wa-item-rowspacer {height:50px;}
#wa-row-j42fkfo21dulvvecow {margin:0px 0px;}
#wa-row-j42fkfo21dulvvecow>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvetg0>.wa-item-rowspacer {height:50px;}
#wa-row-j42fkfo21dulvveu6o {margin:0px 0px;}
#wa-row-j42fkfo21dulvveu6o>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvfc5s>.wa-item-rowspacer {height:50px;}
#wa-row-j42fkfo21dulvvffzk {margin:0px 0px;}
#wa-row-j42fkfo21dulvvffzk>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvgn00>.wa-item-rowspacer {height:50px;}
#wa-row-j42fkfo21dulvvgnxs {margin:0px 0px;}
#wa-row-j42fkfo21dulvvgnxs>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvgvtc>.wa-item-rowspacer {height:50px;}
#wa-row-j42fkfo21dulvvgwls {margin:0px 0px;}
#wa-row-j42fkfo21dulvvgwls>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvhgc0>.wa-item-rowspacer {height:50px;}
#wa-row-j42fkfo21dulvvhh2o {margin:0px 0px;}
#wa-row-j42fkfo21dulvvhh2o>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvhpow>.wa-item-rowspacer {height:50px;}
#wa-row-j42fkfo21dulvvhqg0 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvhqg0>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvhxdc>.wa-item-rowspacer {height:50px;}
#wa-row-j42fkfo21dulvvhyc0 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvhyc0>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvi61s>.wa-item-rowspacer {height:50px;}
#wa-row-j42fkfo21dulvvica8 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvica8>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvj400 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvj400>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvjnj4 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvjnj4>div {padding: 0px 0px;}
#wa-row-j4thjy0l1dvbcpbnts {margin:0px 0px;}
#wa-row-j4thjy0l1dvbcpbnts>div {padding: 0px 0px;}
#wa-row-jdbpjbxk1dv7ng0lvk>.wa-item-rowspacer {height:50px;}
@media (min-width: 768px){
#wa-row-j42fkfo21dulvvcjps {margin:0px 0px;}
#wa-row-j42fkfo21dulvvcjps>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvcrc0 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvcrc0>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvdajk {margin:0px 0px;}
#wa-row-j42fkfo21dulvvdajk>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvdxf4 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvdxf4>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvecow {margin:0px 0px;}
#wa-row-j42fkfo21dulvvecow>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvveu6o {margin:0px 0px;}
#wa-row-j42fkfo21dulvveu6o>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvffzk {margin:0px 0px;}
#wa-row-j42fkfo21dulvvffzk>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvgnxs {margin:0px 0px;}
#wa-row-j42fkfo21dulvvgnxs>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvgwls {margin:0px 0px;}
#wa-row-j42fkfo21dulvvgwls>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvhh2o {margin:0px 0px;}
#wa-row-j42fkfo21dulvvhh2o>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvhqg0 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvhqg0>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvhyc0 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvhyc0>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvica8 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvica8>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvj400 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvj400>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvjnj4 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvjnj4>div {padding: 0px 0px;}
#wa-row-j4thjy0l1dvbcpbnts {margin:0px 0px;}
#wa-row-j4thjy0l1dvbcpbnts>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-j42fkfo21dulvvcjps {margin:0px 0px;}
#wa-row-j42fkfo21dulvvcjps>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvcrc0 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvcrc0>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvdajk {margin:0px 0px;}
#wa-row-j42fkfo21dulvvdajk>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvdxf4 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvdxf4>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvecow {margin:0px 0px;}
#wa-row-j42fkfo21dulvvecow>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvveu6o {margin:0px 0px;}
#wa-row-j42fkfo21dulvveu6o>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvffzk {margin:0px 0px;}
#wa-row-j42fkfo21dulvvffzk>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvgnxs {margin:0px 0px;}
#wa-row-j42fkfo21dulvvgnxs>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvgwls {margin:0px 0px;}
#wa-row-j42fkfo21dulvvgwls>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvhh2o {margin:0px 0px;}
#wa-row-j42fkfo21dulvvhh2o>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvhqg0 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvhqg0>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvhyc0 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvhyc0>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvica8 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvica8>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvj400 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvj400>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvjnj4 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvjnj4>div {padding: 0px 0px;}
#wa-row-j4thjy0l1dvbcpbnts {margin:0px 0px;}
#wa-row-j4thjy0l1dvbcpbnts>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-j42fkfo21dulvvcjps {margin:0px 0px;}
#wa-row-j42fkfo21dulvvcjps>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvcrc0 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvcrc0>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvdajk {margin:0px 0px;}
#wa-row-j42fkfo21dulvvdajk>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvdxf4 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvdxf4>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvecow {margin:0px 0px;}
#wa-row-j42fkfo21dulvvecow>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvveu6o {margin:0px 0px;}
#wa-row-j42fkfo21dulvveu6o>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvffzk {margin:0px 0px;}
#wa-row-j42fkfo21dulvvffzk>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvgnxs {margin:0px 0px;}
#wa-row-j42fkfo21dulvvgnxs>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvgwls {margin:0px 0px;}
#wa-row-j42fkfo21dulvvgwls>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvhh2o {margin:0px 0px;}
#wa-row-j42fkfo21dulvvhh2o>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvhqg0 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvhqg0>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvhyc0 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvhyc0>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvica8 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvica8>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvj400 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvj400>div {padding: 0px 0px;}
#wa-row-j42fkfo21dulvvjnj4 {margin:0px 0px;}
#wa-row-j42fkfo21dulvvjnj4>div {padding: 0px 0px;}
#wa-row-j4thjy0l1dvbcpbnts {margin:0px 0px;}
#wa-row-j4thjy0l1dvbcpbnts>div {padding: 0px 0px;}
}
