#wa-comptext-jix240gm1drmfiho1s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jkrl7bl41dp74mf6rk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jkrl7bl41dp74mf6rk>.row>.clearfix {margin-bottom:0px;}
#wa-container-jkrl7bl41dp74mf6rk>.wa-container-vspacer {height:0px;}
#wa-container-jkrl7bm51dp74ir6yo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jkrl7bm51dp74ir6yo>.row>.clearfix {margin-bottom:0px;}
#wa-container-jkrl7bm51dp74ir6yo>.wa-container-vspacer {height:0px;}
#wa-row-jfxecli71dv6eo9q5s {margin:0px 0px;}
#wa-row-jfxecli71dv6eo9q5s>div {padding: 0px 0px;}
#wa-row-jix23oad1drmgmwwuo {margin:0px 0px;}
#wa-row-jix23oad1drmgmwwuo>div {padding: 0px 0px;}
#wa-row-jix240gm1drmgvt1ts {margin:0px 0px;}
#wa-row-jix240gm1drmgvt1ts>div {padding: 0px 0px;}
#wa-row-jkrlb6w41dp758i4v4>.wa-item-rowspacer {height:50px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jfxecli71dv6eo9q5s {margin:0px 0px;}
#wa-row-jfxecli71dv6eo9q5s>div {padding: 0px 0px;}
#wa-row-jix23oad1drmgmwwuo {margin:0px 0px;}
#wa-row-jix23oad1drmgmwwuo>div {padding: 0px 0px;}
#wa-row-jix240gm1drmgvt1ts {margin:0px 0px;}
#wa-row-jix240gm1drmgvt1ts>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jfxecli71dv6eo9q5s {margin:0px 0px;}
#wa-row-jfxecli71dv6eo9q5s>div {padding: 0px 0px;}
#wa-row-jix23oad1drmgmwwuo {margin:0px 0px;}
#wa-row-jix23oad1drmgmwwuo>div {padding: 0px 0px;}
#wa-row-jix240gm1drmgvt1ts {margin:0px 0px;}
#wa-row-jix240gm1drmgvt1ts>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jfxecli71dv6eo9q5s {margin:0px 0px;}
#wa-row-jfxecli71dv6eo9q5s>div {padding: 0px 0px;}
#wa-row-jix23oad1drmgmwwuo {margin:0px 0px;}
#wa-row-jix23oad1drmgmwwuo>div {padding: 0px 0px;}
#wa-row-jix240gm1drmgvt1ts {margin:0px 0px;}
#wa-row-jix240gm1drmgvt1ts>div {padding: 0px 0px;}
}
