#wa-compbutton-jjzemqqh1ds7mx8g00 {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jjzemqqh1ds7mx8g00-halign {text-align:center;}
#wa-compbutton-jjzemqqh1ds7mx8g00:hover {background-color:#2e6da4;}
#wa-compbutton-jjzend001ds7oglf5s {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:100%;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jjzend001ds7oglf5s:hover {background-color:#2e6da4;}
#wa-compbutton-jjzenf161ds7mx7sow {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jjzenf161ds7mx7sow-halign {text-align:center;}
#wa-compbutton-jjzenf161ds7mx7sow:hover {background-color:#2e6da4;}
#wa-compbutton-jjzeng9i1ds7n4btvk {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jjzeng9i1ds7n4btvk-halign {text-align:center;}
#wa-compbutton-jjzeng9i1ds7n4btvk:hover {background-color:#2e6da4;}
#wa-compbutton-jjzenhbk1ds7ofndog {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:100%;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jjzenhbk1ds7ofndog:hover {background-color:#2e6da4;}
#wa-compbutton-jjzephoq1ds7nd2m80 {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jjzephoq1ds7nd2m80-halign {text-align:center;}
#wa-compbutton-jjzephoq1ds7nd2m80:hover {background-color:#2e6da4;}
#wa-compbutton-jjzoiop51ds7n7fmrk {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jjzoiop51ds7n7fmrk-halign {text-align:center;}
#wa-compbutton-jjzoiop51ds7n7fmrk:hover {background-color:#2e6da4;}
#wa-compbutton-jjzoipbg1ds7n093i8 {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jjzoipbg1ds7n093i8-halign {text-align:center;}
#wa-compbutton-jjzoipbg1ds7n093i8:hover {background-color:#2e6da4;}
#wa-compbutton-jjzoipvw1ds7n3wveo {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jjzoipvw1ds7n3wveo-halign {text-align:center;}
#wa-compbutton-jjzoipvw1ds7n3wveo:hover {background-color:#2e6da4;}
#wa-compbutton-jk01s6eh1ds7mx6tj4 {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jk01s6eh1ds7mx6tj4-halign {text-align:center;}
#wa-compbutton-jk01s6eh1ds7mx6tj4:hover {background-color:#2e6da4;}
#wa-compbutton-jk01s6eh1ds7mx6yo0 {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jk01s6eh1ds7mx6yo0-halign {text-align:center;}
#wa-compbutton-jk01s6eh1ds7mx6yo0:hover {background-color:#2e6da4;}
#wa-compbutton-jk01s6eh1ds7mx7sow {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jk01s6eh1ds7mx7sow-halign {text-align:center;}
#wa-compbutton-jk01s6eh1ds7mx7sow:hover {background-color:#2e6da4;}
#wa-compbutton-jk01s6eh1ds7n07fuo {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jk01s6eh1ds7n07fuo-halign {text-align:center;}
#wa-compbutton-jk01s6eh1ds7n07fuo:hover {background-color:#2e6da4;}
#wa-compbutton-jk01s6eh1ds7n09wcg {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jk01s6eh1ds7n09wcg-halign {text-align:center;}
#wa-compbutton-jk01s6eh1ds7n09wcg:hover {background-color:#2e6da4;}
#wa-compbutton-jk01s6ei1ds7mwbx1c {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jk01s6ei1ds7mwbx1c-halign {text-align:center;}
#wa-compbutton-jk01s6ei1ds7mwbx1c:hover {background-color:#2e6da4;}
#wa-compbutton-jk01s6ei1ds7mxbw1s {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jk01s6ei1ds7mxbw1s-halign {text-align:center;}
#wa-compbutton-jk01s6ei1ds7mxbw1s:hover {background-color:#2e6da4;}
#wa-compbutton-jk01s6ei1ds7mxhqm8 {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jk01s6ei1ds7mxhqm8-halign {text-align:center;}
#wa-compbutton-jk01s6ei1ds7mxhqm8:hover {background-color:#2e6da4;}
#wa-compbutton-jk01s6ei1ds7og9i4g {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-jk01s6ei1ds7og9i4g-halign {text-align:center;}
#wa-compbutton-jk01s6ei1ds7og9i4g:hover {background-color:#2e6da4;}
#wa-compimage-jk6n2raj1du32y603k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-jk8zvt6s1dtsekifpc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-jk8zvudt1dtseq2ups {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-jk8zwy3q1dtsd41mgw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-jk8zx89d1dtseqng8w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-jjzeodbl1ds7mxyebk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jjzeqd851ds7n5au4g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jk01tf601ds7ncpwqo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jk01ubsn1ds7n3bb40 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jk6epktz1du32v7g1s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:20px 20px 20px 20px;}
#wa-comptext-jk6epktz1du32vefb4 {background-color:#f8edfe;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#ffffff;padding:2px 2px 2px 2px;}
#wa-comptext-jk6epktz1du32vimm8 {background-color:#fef3dd;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#ffffff;padding:2px 2px 2px 2px;}
#wa-comptext-jk6epktz1du32vvda8 {background-color:#ffedea;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#ffffff;padding:2px 2px 2px 2px;}
#wa-comptext-jk6epktz1du32x6xvk {background-color:#e6eeff;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#ffffff;padding:2px 2px 2px 2px;}
#wa-comptext-jk6epktz1du32ylvr4 {background-color:#e5ffea;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#ffffff;padding:2px 2px 2px 2px;}
#wa-comptext-jk6n1izn1du332acxs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jk8ypgop1dtsd5auio {background-color:#adf789;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jk8yqm3l1dtsd903r4 {background-color:#7ccafd;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jk8yrn3h1dtsekg5j4 {background-color:#b17cfd;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jk8zkoo31dtse69wqo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jk8zrlac1dtsekb30g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jk8zrm0j1dtse6n3ls {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jk8zrnfu1dtsekq134 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jk8zro381dtseknb40 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jk8zrx161dtsepse80 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:20px 20px 20px 20px;}
#wa-container-jk8zi6jg1dtseppc00 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jk8zi6jg1dtseppc00>.row>.clearfix {margin-bottom:0px;}
#wa-container-jk8zi6jg1dtseppc00>.wa-container-vspacer {height:0px;}
#wa-container-jk8zi6jg1dtseppdz4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jk8zi6jg1dtseppdz4>.row>.clearfix {margin-bottom:0px;}
#wa-container-jk8zi6jg1dtseppdz4>.wa-container-vspacer {height:0px;}
#wa-container-jk8zi6ji1dtsepmvi8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jk8zi6ji1dtsepmvi8>.row>.clearfix {margin-bottom:0px;}
#wa-container-jk8zi6ji1dtsepmvi8>.wa-container-vspacer {height:0px;}
#wa-container-jk8zi6jr1dtsd21rls {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jk8zi6jr1dtsd21rls>.row>.clearfix {margin-bottom:0px;}
#wa-container-jk8zi6jr1dtsd21rls>.wa-container-vspacer {height:0px;}
#wa-container-jk8zi6jw1dtsd31ngg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jk8zi6jw1dtsd31ngg>.row>.clearfix {margin-bottom:0px;}
#wa-container-jk8zi6jw1dtsd31ngg>.wa-container-vspacer {height:0px;}
#wa-container-jk8zv3qm1dtse7e3gg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jk8zv3qm1dtse7e3gg>.row>.clearfix {margin-bottom:0px;}
#wa-container-jk8zv3qm1dtse7e3gg>.wa-container-vspacer {height:0px;}
#wa-image-gallery-col-container-jk8zv37u1dtsezt1m8 {margin: -2px 0px;padding:0px 0px 0px 0px;}
#wa-image-gallery-col-container-jk8zv9kj1dtsed8s28 {margin: -2px 0px;padding:0px 0px 0px 0px;}
#wa-image-gallery-row-jk8zv37u1dtsezt1m8 {margin:0px -2px;}
#wa-image-gallery-row-jk8zv37u1dtsezt1m8>div {padding: 2px;}
#wa-image-gallery-row-jk8zv9kj1dtsed8s28 {margin:0px -2px;}
#wa-image-gallery-row-jk8zv9kj1dtsed8s28>div {padding: 2px;}
#wa-row-jjmb54151dumgmwauo {margin:0px 0px;}
#wa-row-jjmb54151dumgmwauo>div {padding: 0px 0px;}
#wa-row-jjzemqqh1ds7obtqv4 {margin:0px 0px;}
#wa-row-jjzemqqh1ds7obtqv4>div {padding: 0px 0px;}
#wa-row-jjzeobga1ds7oc1ucw {margin:0px 0px;}
#wa-row-jjzeobga1ds7oc1ucw>div {padding: 0px 0px;}
#wa-row-jjzeqd851ds7o6sx0w {margin:0px 0px;}
#wa-row-jjzeqd851ds7o6sx0w>div {padding: 0px 0px;}
#wa-row-jk01s6eh1ds7o5y5ls {margin:0px 0px;}
#wa-row-jk01s6eh1ds7o5y5ls>div {padding: 0px 0px;}
#wa-row-jk01tfnk1ds7obf1vk {margin:0px 0px;}
#wa-row-jk01tfnk1ds7obf1vk>div {padding: 0px 0px;}
#wa-row-jk6epktz1du34m27pc {margin:0px -2px;}
#wa-row-jk6epktz1du34m27pc>div {padding: 0px 2px;}
#wa-row-jk6n25rj1du34ncum8 {margin:0px 0px;}
#wa-row-jk6n25rj1du34ncum8>div {padding: 0px 0px;}
#wa-row-jk6n2o8q1du34mc3f4 {margin:0px 0px;}
#wa-row-jk6n2o8q1du34mc3f4>div {padding: 0px 0px;}
#wa-row-jk8ypi951dtse3rogg {margin:0px 0px;}
#wa-row-jk8ypi951dtse3rogg>div {padding: 0px 0px;}
#wa-row-jk8zkjkj1dtseerfj4 {margin:0px 0px;}
#wa-row-jk8zkjkj1dtseerfj4>div {padding: 0px 0px;}
#wa-row-jk8zv37u1dtsebkllc {margin:0px 0px;}
#wa-row-jk8zv37u1dtsebkllc>div {padding: 0px 0px;}
#wa-row-jk8zvahx1dtsf1behs {margin:0px 0px;}
#wa-row-jk8zvahx1dtsf1behs>div {padding: 0px 0px;}
#wa-row-jk8zvi181dtsedgub4 {margin:0px 0px;}
#wa-row-jk8zvi181dtsedgub4>div {padding: 0px 0px;}
#wa-row-jk8zvt6s1dtse3eay8 {margin:0px 0px;}
#wa-row-jk8zvt6s1dtse3eay8>div {padding: 0px 0px;}
#wa-row-jk8zvudt1dtsd0m23k {margin:0px 0px;}
#wa-row-jk8zvudt1dtsd0m23k>div {padding: 0px 0px;}
#wa-sub-container-jk8zvlbi1dtsek93i8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jk8zvlbi1dtsek93i8>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jk8zvlbi1dtsek93i8>.wa-container-vspacer {height:0px;}
#wa-sub-container-jk8zvt6s1dtseka328 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jk8zvt6s1dtseka328>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jk8zvt6s1dtseka328>.wa-container-vspacer {height:0px;}
#wa-sub-container-jk8zvudt1dtsepnnk0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jk8zvudt1dtsepnnk0>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jk8zvudt1dtsepnnk0>.wa-container-vspacer {height:0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jjmb54151dumgmwauo {margin:0px 0px;}
#wa-row-jjmb54151dumgmwauo>div {padding: 0px 0px;}
#wa-row-jjzemqqh1ds7obtqv4 {margin:0px 0px;}
#wa-row-jjzemqqh1ds7obtqv4>div {padding: 0px 0px;}
#wa-row-jjzeobga1ds7oc1ucw {margin:0px 0px;}
#wa-row-jjzeobga1ds7oc1ucw>div {padding: 0px 0px;}
#wa-row-jjzeqd851ds7o6sx0w {margin:0px 0px;}
#wa-row-jjzeqd851ds7o6sx0w>div {padding: 0px 0px;}
#wa-row-jk01s6eh1ds7o5y5ls {margin:0px 0px;}
#wa-row-jk01s6eh1ds7o5y5ls>div {padding: 0px 0px;}
#wa-row-jk01tfnk1ds7obf1vk {margin:0px 0px;}
#wa-row-jk01tfnk1ds7obf1vk>div {padding: 0px 0px;}
#wa-row-jk6epktz1du34m27pc {margin:0px -2px;}
#wa-row-jk6epktz1du34m27pc>div {padding: 0px 2px;}
#wa-row-jk6n25rj1du34ncum8 {margin:0px 0px;}
#wa-row-jk6n25rj1du34ncum8>div {padding: 0px 0px;}
#wa-row-jk6n2o8q1du34mc3f4 {margin:0px 0px;}
#wa-row-jk6n2o8q1du34mc3f4>div {padding: 0px 0px;}
#wa-row-jk8ypi951dtse3rogg {margin:0px 0px;}
#wa-row-jk8ypi951dtse3rogg>div {padding: 0px 0px;}
#wa-row-jk8zkjkj1dtseerfj4 {margin:0px 0px;}
#wa-row-jk8zkjkj1dtseerfj4>div {padding: 0px 0px;}
#wa-row-jk8zv37u1dtsebkllc {margin:0px 0px;}
#wa-row-jk8zv37u1dtsebkllc>div {padding: 0px 0px;}
#wa-row-jk8zvahx1dtsf1behs {margin:0px 0px;}
#wa-row-jk8zvahx1dtsf1behs>div {padding: 0px 0px;}
#wa-row-jk8zvi181dtsedgub4 {margin:0px 0px;}
#wa-row-jk8zvi181dtsedgub4>div {padding: 0px 0px;}
#wa-row-jk8zvt6s1dtse3eay8 {margin:0px 0px;}
#wa-row-jk8zvt6s1dtse3eay8>div {padding: 0px 0px;}
#wa-row-jk8zvudt1dtsd0m23k {margin:0px 0px;}
#wa-row-jk8zvudt1dtsd0m23k>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jjmb54151dumgmwauo {margin:0px 0px;}
#wa-row-jjmb54151dumgmwauo>div {padding: 0px 0px;}
#wa-row-jjzemqqh1ds7obtqv4 {margin:0px 0px;}
#wa-row-jjzemqqh1ds7obtqv4>div {padding: 0px 0px;}
#wa-row-jjzeobga1ds7oc1ucw {margin:0px 0px;}
#wa-row-jjzeobga1ds7oc1ucw>div {padding: 0px 0px;}
#wa-row-jjzeqd851ds7o6sx0w {margin:0px 0px;}
#wa-row-jjzeqd851ds7o6sx0w>div {padding: 0px 0px;}
#wa-row-jk01s6eh1ds7o5y5ls {margin:0px 0px;}
#wa-row-jk01s6eh1ds7o5y5ls>div {padding: 0px 0px;}
#wa-row-jk01tfnk1ds7obf1vk {margin:0px 0px;}
#wa-row-jk01tfnk1ds7obf1vk>div {padding: 0px 0px;}
#wa-row-jk6epktz1du34m27pc {margin:0px -2px;}
#wa-row-jk6epktz1du34m27pc>div {padding: 0px 2px;}
#wa-row-jk6n25rj1du34ncum8 {margin:0px 0px;}
#wa-row-jk6n25rj1du34ncum8>div {padding: 0px 0px;}
#wa-row-jk6n2o8q1du34mc3f4 {margin:0px 0px;}
#wa-row-jk6n2o8q1du34mc3f4>div {padding: 0px 0px;}
#wa-row-jk8ypi951dtse3rogg {margin:0px 0px;}
#wa-row-jk8ypi951dtse3rogg>div {padding: 0px 0px;}
#wa-row-jk8zkjkj1dtseerfj4 {margin:0px 0px;}
#wa-row-jk8zkjkj1dtseerfj4>div {padding: 0px 0px;}
#wa-row-jk8zv37u1dtsebkllc {margin:0px 0px;}
#wa-row-jk8zv37u1dtsebkllc>div {padding: 0px 0px;}
#wa-row-jk8zvahx1dtsf1behs {margin:0px 0px;}
#wa-row-jk8zvahx1dtsf1behs>div {padding: 0px 0px;}
#wa-row-jk8zvi181dtsedgub4 {margin:0px 0px;}
#wa-row-jk8zvi181dtsedgub4>div {padding: 0px 0px;}
#wa-row-jk8zvt6s1dtse3eay8 {margin:0px 0px;}
#wa-row-jk8zvt6s1dtse3eay8>div {padding: 0px 0px;}
#wa-row-jk8zvudt1dtsd0m23k {margin:0px 0px;}
#wa-row-jk8zvudt1dtsd0m23k>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jjmb54151dumgmwauo {margin:0px 0px;}
#wa-row-jjmb54151dumgmwauo>div {padding: 0px 0px;}
#wa-row-jjzemqqh1ds7obtqv4 {margin:0px 0px;}
#wa-row-jjzemqqh1ds7obtqv4>div {padding: 0px 0px;}
#wa-row-jjzeobga1ds7oc1ucw {margin:0px 0px;}
#wa-row-jjzeobga1ds7oc1ucw>div {padding: 0px 0px;}
#wa-row-jjzeqd851ds7o6sx0w {margin:0px 0px;}
#wa-row-jjzeqd851ds7o6sx0w>div {padding: 0px 0px;}
#wa-row-jk01s6eh1ds7o5y5ls {margin:0px 0px;}
#wa-row-jk01s6eh1ds7o5y5ls>div {padding: 0px 0px;}
#wa-row-jk01tfnk1ds7obf1vk {margin:0px 0px;}
#wa-row-jk01tfnk1ds7obf1vk>div {padding: 0px 0px;}
#wa-row-jk6epktz1du34m27pc {margin:0px -2px;}
#wa-row-jk6epktz1du34m27pc>div {padding: 0px 2px;}
#wa-row-jk6n25rj1du34ncum8 {margin:0px 0px;}
#wa-row-jk6n25rj1du34ncum8>div {padding: 0px 0px;}
#wa-row-jk6n2o8q1du34mc3f4 {margin:0px 0px;}
#wa-row-jk6n2o8q1du34mc3f4>div {padding: 0px 0px;}
#wa-row-jk8ypi951dtse3rogg {margin:0px 0px;}
#wa-row-jk8ypi951dtse3rogg>div {padding: 0px 0px;}
#wa-row-jk8zkjkj1dtseerfj4 {margin:0px 0px;}
#wa-row-jk8zkjkj1dtseerfj4>div {padding: 0px 0px;}
#wa-row-jk8zv37u1dtsebkllc {margin:0px 0px;}
#wa-row-jk8zv37u1dtsebkllc>div {padding: 0px 0px;}
#wa-row-jk8zvahx1dtsf1behs {margin:0px 0px;}
#wa-row-jk8zvahx1dtsf1behs>div {padding: 0px 0px;}
#wa-row-jk8zvi181dtsedgub4 {margin:0px 0px;}
#wa-row-jk8zvi181dtsedgub4>div {padding: 0px 0px;}
#wa-row-jk8zvt6s1dtse3eay8 {margin:0px 0px;}
#wa-row-jk8zvt6s1dtse3eay8>div {padding: 0px 0px;}
#wa-row-jk8zvudt1dtsd0m23k {margin:0px 0px;}
#wa-row-jk8zvudt1dtsd0m23k>div {padding: 0px 0px;}
}
