#wa-compcolor-j89k4ajk1duy15qdxc {background-color:#000000;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;height:2px;}
#wa-compcolor-j89k4ak81duy171gqo {background-color:#000000;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;height:2px;}
#wa-compcolor-j89k4akm1duy17j0g0 {background-color:#d6cdc0;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;height:2px;}
#wa-compcolor-ja3sh56d1dqhliercw {background-color:#d6cdc0;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;height:2px;}
#wa-compcolor-padwrapper-j89k4akm1duy17j0g0 {padding:2px 0px 2px 0px;}
#wa-compcolor-padwrapper-ja3sh56d1dqhliercw {padding:2px 0px 2px 0px;}
#wa-comptext-j89k4aj71duy1ozda8 {background-color:rgba(227,221,211,0.701961);border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#ffffff;padding:0px 0px 15px 0px;}
#wa-comptext-j89k4akm1duy17iz9c {background-color:rgba(215,207,192,0.701961);border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#ffffff;padding:20px 0px 25px 0px;}
#wa-comptext-jiba5fde1dqhlmpiww {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jnbay5an1drohdr75s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jnbay5an1drohdr75s>.row>.clearfix {margin-bottom:0px;}
#wa-container-jnbay5an1drohdr75s>.wa-container-vspacer {height:0px;}
#wa-container-jnbay5ap1drohdfbpc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#ffffff;padding:0px 0px 2px 0px;}
#wa-container-jnbay5ap1drohdfbpc>.row>.clearfix {margin-bottom:0px;}
#wa-container-jnbay5ap1drohdfbpc>.wa-container-vspacer {height:0px;}
#wa-container-jnbay5ap1drohdfda8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jnbay5ap1drohdfda8>.row>.clearfix {margin-bottom:0px;}
#wa-container-jnbay5ap1drohdfda8>.wa-container-vspacer {height:0px;}
#wa-container-jnbay5aq1drohdfg1s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#ffffff;padding:2px 0px 0px 0px;}
#wa-container-jnbay5aq1drohdfg1s>.row>.clearfix {margin-bottom:0px;}
#wa-container-jnbay5aq1drohdfg1s>.wa-container-vspacer {height:0px;}
#wa-container-jnbay5ar1drohdh0xs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jnbay5ar1drohdh0xs>.row>.clearfix {margin-bottom:0px;}
#wa-container-jnbay5ar1drohdh0xs>.wa-container-vspacer {height:0px;}
#wa-row-j89k4aj71duy29oa4w {margin:0px 0px;}
#wa-row-j89k4aj71duy29oa4w>div {padding: 0px 0px;}
#wa-row-j89k4aj71duy2h67ow>.wa-item-rowspacer {height:100px;}
#wa-row-j89k4ajk1duy2qn800 {margin:0px 0px;}
#wa-row-j89k4ajk1duy2qn800>div {padding: 0px 0px;}
#wa-row-j89k4ak81duy2haohs {margin:0px 0px;}
#wa-row-j89k4ak81duy2haohs>div {padding: 0px 0px;}
#wa-row-j89k4akm1duy2g2dw0 {margin:0px 0px;}
#wa-row-j89k4akm1duy2g2dw0>div {padding: 0px 0px;}
#wa-row-j89k4akm1duy2gyp00 {margin:0px 0px;}
#wa-row-j89k4akm1duy2gyp00>div {padding: 0px 0px;}
#wa-row-j89k4akm1duy2h8ob4 {margin:0px 0px;}
#wa-row-j89k4akm1duy2h8ob4>div {padding: 0px 0px;}
#wa-row-j89k4akm1duy2h8tls {margin:0px 0px;}
#wa-row-j89k4akm1duy2h8tls>div {padding: 0px 0px;}
#wa-row-j89l795c1dq7ya5qa8 {margin:0px 0px;}
#wa-row-j89l795c1dq7ya5qa8>div {padding: 0px 0px;}
#wa-row-ja3mj27p1dqhnwmlkw>.wa-item-rowspacer {height:80px;}
#wa-row-ja3sh56d1dqhnhqe5s {margin:0px 0px;}
#wa-row-ja3sh56d1dqhnhqe5s>div {padding: 0px 0px;}
#wa-row-jdbpf0d71dv7m5i0i8>.wa-item-rowspacer {height:50px;}
#wa-row-jiba5h7c1dqhmy7ik0 {margin:0px 0px;}
#wa-row-jiba5h7c1dqhmy7ik0>div {padding: 0px 0px;}
@media (min-width: 768px){
#wa-row-j89k4aj71duy29oa4w {margin:0px 0px;}
#wa-row-j89k4aj71duy29oa4w>div {padding: 0px 0px;}
#wa-row-j89k4ajk1duy2qn800 {margin:0px 0px;}
#wa-row-j89k4ajk1duy2qn800>div {padding: 0px 0px;}
#wa-row-j89k4ak81duy2haohs {margin:0px 0px;}
#wa-row-j89k4ak81duy2haohs>div {padding: 0px 0px;}
#wa-row-j89k4akm1duy2g2dw0 {margin:0px 0px;}
#wa-row-j89k4akm1duy2g2dw0>div {padding: 0px 0px;}
#wa-row-j89k4akm1duy2gyp00 {margin:0px 0px;}
#wa-row-j89k4akm1duy2gyp00>div {padding: 0px 0px;}
#wa-row-j89k4akm1duy2h8ob4 {margin:0px 0px;}
#wa-row-j89k4akm1duy2h8ob4>div {padding: 0px 0px;}
#wa-row-j89k4akm1duy2h8tls {margin:0px 0px;}
#wa-row-j89k4akm1duy2h8tls>div {padding: 0px 0px;}
#wa-row-j89l795c1dq7ya5qa8 {margin:0px 0px;}
#wa-row-j89l795c1dq7ya5qa8>div {padding: 0px 0px;}
#wa-row-ja3sh56d1dqhnhqe5s {margin:0px 0px;}
#wa-row-ja3sh56d1dqhnhqe5s>div {padding: 0px 0px;}
#wa-row-jiba5h7c1dqhmy7ik0 {margin:0px 0px;}
#wa-row-jiba5h7c1dqhmy7ik0>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-j89k4aj71duy29oa4w {margin:0px 0px;}
#wa-row-j89k4aj71duy29oa4w>div {padding: 0px 0px;}
#wa-row-j89k4ajk1duy2qn800 {margin:0px 0px;}
#wa-row-j89k4ajk1duy2qn800>div {padding: 0px 0px;}
#wa-row-j89k4ak81duy2haohs {margin:0px 0px;}
#wa-row-j89k4ak81duy2haohs>div {padding: 0px 0px;}
#wa-row-j89k4akm1duy2g2dw0 {margin:0px 0px;}
#wa-row-j89k4akm1duy2g2dw0>div {padding: 0px 0px;}
#wa-row-j89k4akm1duy2gyp00 {margin:0px 0px;}
#wa-row-j89k4akm1duy2gyp00>div {padding: 0px 0px;}
#wa-row-j89k4akm1duy2h8ob4 {margin:0px 0px;}
#wa-row-j89k4akm1duy2h8ob4>div {padding: 0px 0px;}
#wa-row-j89k4akm1duy2h8tls {margin:0px 0px;}
#wa-row-j89k4akm1duy2h8tls>div {padding: 0px 0px;}
#wa-row-j89l795c1dq7ya5qa8 {margin:0px 0px;}
#wa-row-j89l795c1dq7ya5qa8>div {padding: 0px 0px;}
#wa-row-ja3sh56d1dqhnhqe5s {margin:0px 0px;}
#wa-row-ja3sh56d1dqhnhqe5s>div {padding: 0px 0px;}
#wa-row-jiba5h7c1dqhmy7ik0 {margin:0px 0px;}
#wa-row-jiba5h7c1dqhmy7ik0>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-j89k4aj71duy29oa4w {margin:0px 0px;}
#wa-row-j89k4aj71duy29oa4w>div {padding: 0px 0px;}
#wa-row-j89k4ajk1duy2qn800 {margin:0px 0px;}
#wa-row-j89k4ajk1duy2qn800>div {padding: 0px 0px;}
#wa-row-j89k4ak81duy2haohs {margin:0px 0px;}
#wa-row-j89k4ak81duy2haohs>div {padding: 0px 0px;}
#wa-row-j89k4akm1duy2g2dw0 {margin:0px 0px;}
#wa-row-j89k4akm1duy2g2dw0>div {padding: 0px 0px;}
#wa-row-j89k4akm1duy2gyp00 {margin:0px 0px;}
#wa-row-j89k4akm1duy2gyp00>div {padding: 0px 0px;}
#wa-row-j89k4akm1duy2h8ob4 {margin:0px 0px;}
#wa-row-j89k4akm1duy2h8ob4>div {padding: 0px 0px;}
#wa-row-j89k4akm1duy2h8tls {margin:0px 0px;}
#wa-row-j89k4akm1duy2h8tls>div {padding: 0px 0px;}
#wa-row-j89l795c1dq7ya5qa8 {margin:0px 0px;}
#wa-row-j89l795c1dq7ya5qa8>div {padding: 0px 0px;}
#wa-row-ja3sh56d1dqhnhqe5s {margin:0px 0px;}
#wa-row-ja3sh56d1dqhnhqe5s>div {padding: 0px 0px;}
#wa-row-jiba5h7c1dqhmy7ik0 {margin:0px 0px;}
#wa-row-jiba5h7c1dqhmy7ik0>div {padding: 0px 0px;}
}
