#wa-compimage-jm6ih2j11dv3q7hy4g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-jm6ih2j11dv3q7hy4g {padding:25px 25px 25px 25px;}
#wa-comptext-jm6ih2j11dv3qa9n9c {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:25px 25px 25px 25px;}
#wa-comptext-jm6ih2j11dv3re016o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jm83ogyy1dv3q32vb4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jm83ogyy1dv3q32vb4>.row>.clearfix {margin-bottom:0px;}
#wa-container-jm83ogyy1dv3q32vb4>.wa-container-vspacer {height:0px;}
#wa-container-jm83ogyy1dv3q5vsow {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jm83ogyy1dv3q5vsow>.row>.clearfix {margin-bottom:0px;}
#wa-container-jm83ogyy1dv3q5vsow>.wa-container-vspacer {height:0px;}
#wa-row-jm6igo7k1dv3ris5ds>.wa-item-rowspacer {height:50px;}
#wa-row-jm6igo7k1dv3riv03k {margin:0px 0px;}
#wa-row-jm6igo7k1dv3riv03k>div {padding: 0px 0px;}
#wa-row-jm6ih2j01dv3r8trtc>.wa-item-rowspacer {height:100px;}
#wa-row-jm6ih2j01dv3rhzgjk {margin:0px 0px;}
#wa-row-jm6ih2j01dv3rhzgjk>div {padding: 0px 0px;}
#wa-row-jm6ih2j11dv3r8sogg>.wa-item-rowspacer {height:50px;}
#wa-row-jm6ih2j11dv3r8soxc>.wa-item-rowspacer {height:200px;}
#wa-row-jm6ih2j11dv3riex7k {margin:0px 0px;}
#wa-row-jm6ih2j11dv3riex7k>div {padding: 0px 0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jm6igo7k1dv3riv03k {margin:0px 0px;}
#wa-row-jm6igo7k1dv3riv03k>div {padding: 0px 0px;}
#wa-row-jm6ih2j01dv3rhzgjk {margin:0px 0px;}
#wa-row-jm6ih2j01dv3rhzgjk>div {padding: 0px 0px;}
#wa-row-jm6ih2j11dv3riex7k {margin:0px 0px;}
#wa-row-jm6ih2j11dv3riex7k>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jm6igo7k1dv3riv03k {margin:0px 0px;}
#wa-row-jm6igo7k1dv3riv03k>div {padding: 0px 0px;}
#wa-row-jm6ih2j01dv3rhzgjk {margin:0px 0px;}
#wa-row-jm6ih2j01dv3rhzgjk>div {padding: 0px 0px;}
#wa-row-jm6ih2j11dv3riex7k {margin:0px 0px;}
#wa-row-jm6ih2j11dv3riex7k>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jm6igo7k1dv3riv03k {margin:0px 0px;}
#wa-row-jm6igo7k1dv3riv03k>div {padding: 0px 0px;}
#wa-row-jm6ih2j01dv3rhzgjk {margin:0px 0px;}
#wa-row-jm6ih2j01dv3rhzgjk>div {padding: 0px 0px;}
#wa-row-jm6ih2j11dv3riex7k {margin:0px 0px;}
#wa-row-jm6ih2j11dv3riex7k>div {padding: 0px 0px;}
}
