#wa-compimage-jltuqz1t1duqcto9og {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-jltuqz1t1duqcto9og {padding:25px 25px 25px 25px;}
#wa-comptext-jltuqz1t1duqct5rls {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:25px 25px 25px 25px;}
#wa-comptext-jltuqz1t1duqctek1s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jm788ryu1dv3rdzugw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jm788ryu1dv3rdzugw>.row>.clearfix {margin-bottom:0px;}
#wa-container-jm788ryu1dv3rdzugw>.wa-container-vspacer {height:0px;}
#wa-container-jm788ryv1dv3q8y134 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jm788ryv1dv3q8y134>.row>.clearfix {margin-bottom:0px;}
#wa-container-jm788ryv1dv3q8y134>.wa-container-vspacer {height:0px;}
#wa-row-jltuqdww1duqe4owb4 {margin:0px 0px;}
#wa-row-jltuqdww1duqe4owb4>div {padding: 0px 0px;}
#wa-row-jltuqdww1duqe4yqkw>.wa-item-rowspacer {height:50px;}
#wa-row-jltuqz1t1duqd7g42o {margin:0px 0px;}
#wa-row-jltuqz1t1duqd7g42o>div {padding: 0px 0px;}
#wa-row-jltuqz1t1duqd7g6ps {margin:0px 0px;}
#wa-row-jltuqz1t1duqd7g6ps>div {padding: 0px 0px;}
#wa-row-jltuqz1t1duqe5xolc>.wa-item-rowspacer {height:100px;}
#wa-row-jltuqz1t1duqe676sg {margin:0px 0px;}
#wa-row-jltuqz1t1duqe676sg>div {padding: 0px 0px;}
#wa-row-jltuqz1t1duqe679jk>.wa-item-rowspacer {height:50px;}
#wa-row-jltuqz1t1duqe67gg0>.wa-item-rowspacer {height:200px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jltuqdww1duqe4owb4 {margin:0px 0px;}
#wa-row-jltuqdww1duqe4owb4>div {padding: 0px 0px;}
#wa-row-jltuqz1t1duqd7g42o {margin:0px 0px;}
#wa-row-jltuqz1t1duqd7g42o>div {padding: 0px 0px;}
#wa-row-jltuqz1t1duqd7g6ps {margin:0px 0px;}
#wa-row-jltuqz1t1duqd7g6ps>div {padding: 0px 0px;}
#wa-row-jltuqz1t1duqe676sg {margin:0px 0px;}
#wa-row-jltuqz1t1duqe676sg>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jltuqdww1duqe4owb4 {margin:0px 0px;}
#wa-row-jltuqdww1duqe4owb4>div {padding: 0px 0px;}
#wa-row-jltuqz1t1duqd7g42o {margin:0px 0px;}
#wa-row-jltuqz1t1duqd7g42o>div {padding: 0px 0px;}
#wa-row-jltuqz1t1duqd7g6ps {margin:0px 0px;}
#wa-row-jltuqz1t1duqd7g6ps>div {padding: 0px 0px;}
#wa-row-jltuqz1t1duqe676sg {margin:0px 0px;}
#wa-row-jltuqz1t1duqe676sg>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jltuqdww1duqe4owb4 {margin:0px 0px;}
#wa-row-jltuqdww1duqe4owb4>div {padding: 0px 0px;}
#wa-row-jltuqz1t1duqd7g42o {margin:0px 0px;}
#wa-row-jltuqz1t1duqd7g42o>div {padding: 0px 0px;}
#wa-row-jltuqz1t1duqd7g6ps {margin:0px 0px;}
#wa-row-jltuqz1t1duqd7g6ps>div {padding: 0px 0px;}
#wa-row-jltuqz1t1duqe676sg {margin:0px 0px;}
#wa-row-jltuqz1t1duqe676sg>div {padding: 0px 0px;}
}
