#wa-compimage-jk914lqd1dtserpyww {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-jk914lqd1dtserpyww {padding:25px 25px 25px 25px;}
#wa-comptext-jk914lqd1dtser4g74 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:25px 25px 25px 25px;}
#wa-container-jm7886rp1dv3q9ei2o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jm7886rp1dv3q9ei2o>.row>.clearfix {margin-bottom:0px;}
#wa-container-jm7886rp1dv3q9ei2o>.wa-container-vspacer {height:0px;}
#wa-container-jm7886rp1dv3q9n8jk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jm7886rp1dv3q9n8jk>.row>.clearfix {margin-bottom:0px;}
#wa-container-jm7886rp1dv3q9n8jk>.wa-container-vspacer {height:0px;}
#wa-row-jk914lqd1dtse20skg>.wa-item-rowspacer {height:100px;}
#wa-row-jk914lqd1dtse23jlc {margin:0px 0px;}
#wa-row-jk914lqd1dtse23jlc>div {padding: 0px 0px;}
#wa-row-jk91nbfi1dtsf2i7r4>.wa-item-rowspacer {height:100px;}
#wa-row-jk91o0kt1dtsedewy8 {margin:0px 0px;}
#wa-row-jk91o0kt1dtsedewy8>div {padding: 0px 0px;}
#wa-row-jk91o46d1dtse4sgv4>.wa-item-rowspacer {height:50px;}
#wa-row-jk950fg81dr318ffog {margin:0px 0px;}
#wa-row-jk950fg81dr318ffog>div {padding: 0px 0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jk914lqd1dtse23jlc {margin:0px 0px;}
#wa-row-jk914lqd1dtse23jlc>div {padding: 0px 0px;}
#wa-row-jk91o0kt1dtsedewy8 {margin:0px 0px;}
#wa-row-jk91o0kt1dtsedewy8>div {padding: 0px 0px;}
#wa-row-jk950fg81dr318ffog {margin:0px 0px;}
#wa-row-jk950fg81dr318ffog>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jk914lqd1dtse23jlc {margin:0px 0px;}
#wa-row-jk914lqd1dtse23jlc>div {padding: 0px 0px;}
#wa-row-jk91o0kt1dtsedewy8 {margin:0px 0px;}
#wa-row-jk91o0kt1dtsedewy8>div {padding: 0px 0px;}
#wa-row-jk950fg81dr318ffog {margin:0px 0px;}
#wa-row-jk950fg81dr318ffog>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jk914lqd1dtse23jlc {margin:0px 0px;}
#wa-row-jk914lqd1dtse23jlc>div {padding: 0px 0px;}
#wa-row-jk91o0kt1dtsedewy8 {margin:0px 0px;}
#wa-row-jk91o0kt1dtsedewy8>div {padding: 0px 0px;}
#wa-row-jk950fg81dr318ffog {margin:0px 0px;}
#wa-row-jk950fg81dr318ffog>div {padding: 0px 0px;}
}
