#wa-compcolor-j51pg2tp1dpjp65b7k {background-color:#d6cdc0;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;height:2px;}
#wa-compcolor-j51pg2u11dpjp891j4 {background-color:#033497;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;height:2px;}
#wa-compcolor-j51pg2vh1dpjp6nx8g {background-color:#033497;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;height:2px;}
#wa-compcolor-j51pg2w01dpjp6ke0w {background-color:#d6cdc0;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;height:2px;}
#wa-compcolor-padwrapper-j51pg2tp1dpjp65b7k {padding:0px 0px 2px 0px;}
#wa-compcolor-padwrapper-j51pg2w01dpjp6ke0w {padding:2px 0px 2px 0px;}
#wa-comptext-j51pg2tp1dpjp7r9xc {background-color:rgba(224,224,224,0.901961);border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#ffffff;padding:0px 0px 15px 0px;}
#wa-comptext-j51pg2w01dpjp6at4w {background-color:rgba(224,224,224,0.901961);border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#ffffff;padding:20px 0px 25px 0px;}
#wa-comptext-j51pgud31dpjp8y134 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jiavevyv1dpylxj2f4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jiavevyv1dpylxj2f4>.row>.clearfix {margin-bottom:0px;}
#wa-container-jiavevyv1dpylxj2f4>.wa-container-vspacer {height:0px;}
#wa-container-jiavevyv1dpyly6jgg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jiavevyv1dpyly6jgg>.row>.clearfix {margin-bottom:0px;}
#wa-container-jiavevyv1dpyly6jgg>.wa-container-vspacer {height:0px;}
#wa-container-jiavevyy1dpylxyd4w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jiavevyy1dpylxyd4w>.row>.clearfix {margin-bottom:0px;}
#wa-container-jiavevyy1dpylxyd4w>.wa-container-vspacer {height:0px;}
#wa-container-jiavevyy1dpym0gbgg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#ffffff;padding:0px 0px 2px 0px;}
#wa-container-jiavevyy1dpym0gbgg>.row>.clearfix {margin-bottom:0px;}
#wa-container-jiavevyy1dpym0gbgg>.wa-container-vspacer {height:0px;}
#wa-container-jiavevyz1dpylzjwg0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#ffffff;padding:2px 0px 0px 0px;}
#wa-container-jiavevyz1dpylzjwg0>.row>.clearfix {margin-bottom:0px;}
#wa-container-jiavevyz1dpylzjwg0>.wa-container-vspacer {height:0px;}
#wa-container-jiavevz01dpyly4pvk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jiavevz01dpyly4pvk>.row>.clearfix {margin-bottom:0px;}
#wa-container-jiavevz01dpyly4pvk>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-jiavevyy1dpylxyd4w {background-color:#032264;}
#wa-row-j4xrmhm11dowj0zp5s>.wa-item-rowspacer {height:120px;}
#wa-row-j51pg2tp1dpjqq1200 {margin:0px 0px;}
#wa-row-j51pg2tp1dpjqq1200>div {padding: 0px 0px;}
#wa-row-j51pg2tp1dpjqzd26o {margin:0px 0px;}
#wa-row-j51pg2tp1dpjqzd26o>div {padding: 0px 0px;}
#wa-row-j51pg2u11dpjqs2u9c {margin:0px 0px;}
#wa-row-j51pg2u11dpjqs2u9c>div {padding: 0px 0px;}
#wa-row-j51pg2ug1dpjqvoe4w {margin:0px 0px;}
#wa-row-j51pg2ug1dpjqvoe4w>div {padding: 0px 0px;}
#wa-row-j51pg2vh1dpjqwbgcg {margin:0px 0px;}
#wa-row-j51pg2vh1dpjqwbgcg>div {padding: 0px 0px;}
#wa-row-j51pg2w01dpjqungqo {margin:0px 0px;}
#wa-row-j51pg2w01dpjqungqo>div {padding: 0px 0px;}
#wa-row-j51pg2w01dpjr1dtwg {margin:0px 0px;}
#wa-row-j51pg2w01dpjr1dtwg>div {padding: 0px 0px;}
#wa-row-j51pg2w11dpjr15jio {margin:0px 0px;}
#wa-row-j51pg2w11dpjr15jio>div {padding: 0px 0px;}
#wa-row-j51pg2w11dpjr1fk6o {margin:0px 0px;}
#wa-row-j51pg2w11dpjr1fk6o>div {padding: 0px 0px;}
#wa-row-jdbpeu0e1dv7n2sis0>.wa-item-rowspacer {height:50px;}
@media (min-width: 768px){
#wa-row-j51pg2tp1dpjqq1200 {margin:0px 0px;}
#wa-row-j51pg2tp1dpjqq1200>div {padding: 0px 0px;}
#wa-row-j51pg2tp1dpjqzd26o {margin:0px 0px;}
#wa-row-j51pg2tp1dpjqzd26o>div {padding: 0px 0px;}
#wa-row-j51pg2u11dpjqs2u9c {margin:0px 0px;}
#wa-row-j51pg2u11dpjqs2u9c>div {padding: 0px 0px;}
#wa-row-j51pg2ug1dpjqvoe4w {margin:0px 0px;}
#wa-row-j51pg2ug1dpjqvoe4w>div {padding: 0px 0px;}
#wa-row-j51pg2vh1dpjqwbgcg {margin:0px 0px;}
#wa-row-j51pg2vh1dpjqwbgcg>div {padding: 0px 0px;}
#wa-row-j51pg2w01dpjqungqo {margin:0px 0px;}
#wa-row-j51pg2w01dpjqungqo>div {padding: 0px 0px;}
#wa-row-j51pg2w01dpjr1dtwg {margin:0px 0px;}
#wa-row-j51pg2w01dpjr1dtwg>div {padding: 0px 0px;}
#wa-row-j51pg2w11dpjr15jio {margin:0px 0px;}
#wa-row-j51pg2w11dpjr15jio>div {padding: 0px 0px;}
#wa-row-j51pg2w11dpjr1fk6o {margin:0px 0px;}
#wa-row-j51pg2w11dpjr1fk6o>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-j51pg2tp1dpjqq1200 {margin:0px 0px;}
#wa-row-j51pg2tp1dpjqq1200>div {padding: 0px 0px;}
#wa-row-j51pg2tp1dpjqzd26o {margin:0px 0px;}
#wa-row-j51pg2tp1dpjqzd26o>div {padding: 0px 0px;}
#wa-row-j51pg2u11dpjqs2u9c {margin:0px 0px;}
#wa-row-j51pg2u11dpjqs2u9c>div {padding: 0px 0px;}
#wa-row-j51pg2ug1dpjqvoe4w {margin:0px 0px;}
#wa-row-j51pg2ug1dpjqvoe4w>div {padding: 0px 0px;}
#wa-row-j51pg2vh1dpjqwbgcg {margin:0px 0px;}
#wa-row-j51pg2vh1dpjqwbgcg>div {padding: 0px 0px;}
#wa-row-j51pg2w01dpjqungqo {margin:0px 0px;}
#wa-row-j51pg2w01dpjqungqo>div {padding: 0px 0px;}
#wa-row-j51pg2w01dpjr1dtwg {margin:0px 0px;}
#wa-row-j51pg2w01dpjr1dtwg>div {padding: 0px 0px;}
#wa-row-j51pg2w11dpjr15jio {margin:0px 0px;}
#wa-row-j51pg2w11dpjr15jio>div {padding: 0px 0px;}
#wa-row-j51pg2w11dpjr1fk6o {margin:0px 0px;}
#wa-row-j51pg2w11dpjr1fk6o>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-j51pg2tp1dpjqq1200 {margin:0px 0px;}
#wa-row-j51pg2tp1dpjqq1200>div {padding: 0px 0px;}
#wa-row-j51pg2tp1dpjqzd26o {margin:0px 0px;}
#wa-row-j51pg2tp1dpjqzd26o>div {padding: 0px 0px;}
#wa-row-j51pg2u11dpjqs2u9c {margin:0px 0px;}
#wa-row-j51pg2u11dpjqs2u9c>div {padding: 0px 0px;}
#wa-row-j51pg2ug1dpjqvoe4w {margin:0px 0px;}
#wa-row-j51pg2ug1dpjqvoe4w>div {padding: 0px 0px;}
#wa-row-j51pg2vh1dpjqwbgcg {margin:0px 0px;}
#wa-row-j51pg2vh1dpjqwbgcg>div {padding: 0px 0px;}
#wa-row-j51pg2w01dpjqungqo {margin:0px 0px;}
#wa-row-j51pg2w01dpjqungqo>div {padding: 0px 0px;}
#wa-row-j51pg2w01dpjr1dtwg {margin:0px 0px;}
#wa-row-j51pg2w01dpjr1dtwg>div {padding: 0px 0px;}
#wa-row-j51pg2w11dpjr15jio {margin:0px 0px;}
#wa-row-j51pg2w11dpjr15jio>div {padding: 0px 0px;}
#wa-row-j51pg2w11dpjr1fk6o {margin:0px 0px;}
#wa-row-j51pg2w11dpjr1fk6o>div {padding: 0px 0px;}
}
