#wa-container-jnl9n4971dvs0sbpxc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jnl9n4971dvs0sbpxc>.row>.clearfix {margin-bottom:0px;}
#wa-container-jnl9n4971dvs0sbpxc>.wa-container-vspacer {height:0px;}
#wa-container-jnl9n4981dvs0t0mbk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jnl9n4981dvs0t0mbk>.row>.clearfix {margin-bottom:0px;}
#wa-container-jnl9n4981dvs0t0mbk>.wa-container-vspacer {height:0px;}
#wa-container-jnl9n4981dvs0t9nuo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#c7c7c7;padding:0px 0px 0px 0px;}
#wa-container-jnl9n4981dvs0t9nuo>.row>.clearfix {margin-bottom:0px;}
#wa-container-jnl9n4981dvs0t9nuo>.wa-container-vspacer {height:0px;}
#wa-row-jl3dq24r1dv6yjs9cw {margin:0px 0px;}
#wa-row-jl3dq24r1dv6yjs9cw>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6xkv9a8 {margin:0px 0px;}
#wa-row-jl3duw241dv6xkv9a8>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6ycqk4g {margin:0px 0px;}
#wa-row-jl3duw241dv6ycqk4g>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6ygq3jk {margin:0px 0px;}
#wa-row-jl3duw241dv6ygq3jk>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6yrmai8 {margin:0px 0px;}
#wa-row-jl3duw241dv6yrmai8>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6yrtagg>.wa-item-rowspacer {height:50px;}
#wa-row-jl3dv1lx1dv6yirbyo>.wa-item-rowspacer {height:50px;}
#wa-row-jl3dv3ou1dv6ycbzuo>.wa-item-rowspacer {height:50px;}
#wa-row-jl3dx4s21dv6z0bw4w>.wa-item-rowspacer {height:50px;}
#wa-row-jl3dx6tg1dv6ys2j68 {margin:0px 0px;}
#wa-row-jl3dx6tg1dv6ys2j68>div {padding: 0px 0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jl3dq24r1dv6yjs9cw {margin:0px 0px;}
#wa-row-jl3dq24r1dv6yjs9cw>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6xkv9a8 {margin:0px 0px;}
#wa-row-jl3duw241dv6xkv9a8>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6ycqk4g {margin:0px 0px;}
#wa-row-jl3duw241dv6ycqk4g>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6ygq3jk {margin:0px 0px;}
#wa-row-jl3duw241dv6ygq3jk>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6yrmai8 {margin:0px 0px;}
#wa-row-jl3duw241dv6yrmai8>div {padding: 0px 0px;}
#wa-row-jl3dx6tg1dv6ys2j68 {margin:0px 0px;}
#wa-row-jl3dx6tg1dv6ys2j68>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jl3dq24r1dv6yjs9cw {margin:0px 0px;}
#wa-row-jl3dq24r1dv6yjs9cw>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6xkv9a8 {margin:0px 0px;}
#wa-row-jl3duw241dv6xkv9a8>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6ycqk4g {margin:0px 0px;}
#wa-row-jl3duw241dv6ycqk4g>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6ygq3jk {margin:0px 0px;}
#wa-row-jl3duw241dv6ygq3jk>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6yrmai8 {margin:0px 0px;}
#wa-row-jl3duw241dv6yrmai8>div {padding: 0px 0px;}
#wa-row-jl3dx6tg1dv6ys2j68 {margin:0px 0px;}
#wa-row-jl3dx6tg1dv6ys2j68>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jl3dq24r1dv6yjs9cw {margin:0px 0px;}
#wa-row-jl3dq24r1dv6yjs9cw>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6xkv9a8 {margin:0px 0px;}
#wa-row-jl3duw241dv6xkv9a8>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6ycqk4g {margin:0px 0px;}
#wa-row-jl3duw241dv6ycqk4g>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6ygq3jk {margin:0px 0px;}
#wa-row-jl3duw241dv6ygq3jk>div {padding: 0px 0px;}
#wa-row-jl3duw241dv6yrmai8 {margin:0px 0px;}
#wa-row-jl3duw241dv6yrmai8>div {padding: 0px 0px;}
#wa-row-jl3dx6tg1dv6ys2j68 {margin:0px 0px;}
#wa-row-jl3dx6tg1dv6ys2j68>div {padding: 0px 0px;}
}
