#wa-comptext-jomihb841dqoi7s4qo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-joqixhzd1duos3hrsw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-joqixhzd1duos3hrsw>.row>.clearfix {margin-bottom:0px;}
#wa-container-joqixhzd1duos3hrsw>.wa-container-vspacer {height:0px;}
#wa-container-joqixhzd1duos52ps0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-joqixhzd1duos52ps0>.row>.clearfix {margin-bottom:0px;}
#wa-container-joqixhzd1duos52ps0>.wa-container-vspacer {height:0px;}
#wa-container-joqixhze1duos1vxfk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-joqixhze1duos1vxfk>.row>.clearfix {margin-bottom:0px;}
#wa-container-joqixhze1duos1vxfk>.wa-container-vspacer {height:0px;}
#wa-row-jomihb841dqoihmbe8 {margin:0px 0px;}
#wa-row-jomihb841dqoihmbe8>div {padding: 0px 0px;}
#wa-row-jomihb841dqoihmcgw>.wa-item-rowspacer {height:50px;}
#wa-row-jomihb841dqoihmfpc>.wa-item-rowspacer {height:100px;}
#wa-row-jomihb841dqoihmgw0 {margin:0px 0px;}
#wa-row-jomihb841dqoihmgw0>div {padding: 0px 0px;}
#wa-row-jomihb841dqoihmkjk {margin:0px 0px;}
#wa-row-jomihb841dqoihmkjk>div {padding: 0px 0px;}
#wa-row-jomihb841dqoii1wcw {margin:0px 0px;}
#wa-row-jomihb841dqoii1wcw>div {padding: 0px 0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jomihb841dqoihmbe8 {margin:0px 0px;}
#wa-row-jomihb841dqoihmbe8>div {padding: 0px 0px;}
#wa-row-jomihb841dqoihmgw0 {margin:0px 0px;}
#wa-row-jomihb841dqoihmgw0>div {padding: 0px 0px;}
#wa-row-jomihb841dqoihmkjk {margin:0px 0px;}
#wa-row-jomihb841dqoihmkjk>div {padding: 0px 0px;}
#wa-row-jomihb841dqoii1wcw {margin:0px 0px;}
#wa-row-jomihb841dqoii1wcw>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jomihb841dqoihmbe8 {margin:0px 0px;}
#wa-row-jomihb841dqoihmbe8>div {padding: 0px 0px;}
#wa-row-jomihb841dqoihmgw0 {margin:0px 0px;}
#wa-row-jomihb841dqoihmgw0>div {padding: 0px 0px;}
#wa-row-jomihb841dqoihmkjk {margin:0px 0px;}
#wa-row-jomihb841dqoihmkjk>div {padding: 0px 0px;}
#wa-row-jomihb841dqoii1wcw {margin:0px 0px;}
#wa-row-jomihb841dqoii1wcw>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jomihb841dqoihmbe8 {margin:0px 0px;}
#wa-row-jomihb841dqoihmbe8>div {padding: 0px 0px;}
#wa-row-jomihb841dqoihmgw0 {margin:0px 0px;}
#wa-row-jomihb841dqoihmgw0>div {padding: 0px 0px;}
#wa-row-jomihb841dqoihmkjk {margin:0px 0px;}
#wa-row-jomihb841dqoihmkjk>div {padding: 0px 0px;}
#wa-row-jomihb841dqoii1wcw {margin:0px 0px;}
#wa-row-jomihb841dqoii1wcw>div {padding: 0px 0px;}
}
