#wa-compimage-jlc9aov51dvhcs0hds {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-jlc9aov51dvhcs0hds {padding:25px 25px 25px 25px;}
#wa-comptext-jlc9aov51dvhcr30u8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jlc9aov51dvhcr70n4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:25px 25px 25px 25px;}
#wa-comptext-jlc9aov51dvhcslji8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jle9gaf91dtqbo7m68 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jle9gaf91dtqbo7m68>.row>.clearfix {margin-bottom:0px;}
#wa-container-jle9gaf91dtqbo7m68>.wa-container-vspacer {height:0px;}
#wa-row-jlc9aov51dvhd4r8kg {margin:0px 0px;}
#wa-row-jlc9aov51dvhd4r8kg>div {padding: 0px 0px;}
#wa-row-jlc9aov51dvhdtyc7k>.wa-item-rowspacer {height:50px;}
#wa-row-jlc9aov51dvhdul58w>.wa-item-rowspacer {height:200px;}
#wa-row-jlc9aov51dvhdzjyy8 {margin:0px 0px;}
#wa-row-jlc9aov51dvhdzjyy8>div {padding: 0px 0px;}
#wa-row-jlc9aov51dvhe90k3k>.wa-item-rowspacer {height:100px;}
#wa-row-jlc9aov51dvhe921uo {margin:0px 0px;}
#wa-row-jlc9aov51dvhe921uo>div {padding: 0px 0px;}
#wa-row-jlc9b7y51dvhe73ikg {margin:0px 0px;}
#wa-row-jlc9b7y51dvhe73ikg>div {padding: 0px 0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jlc9aov51dvhd4r8kg {margin:0px 0px;}
#wa-row-jlc9aov51dvhd4r8kg>div {padding: 0px 0px;}
#wa-row-jlc9aov51dvhdzjyy8 {margin:0px 0px;}
#wa-row-jlc9aov51dvhdzjyy8>div {padding: 0px 0px;}
#wa-row-jlc9aov51dvhe921uo {margin:0px 0px;}
#wa-row-jlc9aov51dvhe921uo>div {padding: 0px 0px;}
#wa-row-jlc9b7y51dvhe73ikg {margin:0px 0px;}
#wa-row-jlc9b7y51dvhe73ikg>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jlc9aov51dvhd4r8kg {margin:0px 0px;}
#wa-row-jlc9aov51dvhd4r8kg>div {padding: 0px 0px;}
#wa-row-jlc9aov51dvhdzjyy8 {margin:0px 0px;}
#wa-row-jlc9aov51dvhdzjyy8>div {padding: 0px 0px;}
#wa-row-jlc9aov51dvhe921uo {margin:0px 0px;}
#wa-row-jlc9aov51dvhe921uo>div {padding: 0px 0px;}
#wa-row-jlc9b7y51dvhe73ikg {margin:0px 0px;}
#wa-row-jlc9b7y51dvhe73ikg>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jlc9aov51dvhd4r8kg {margin:0px 0px;}
#wa-row-jlc9aov51dvhd4r8kg>div {padding: 0px 0px;}
#wa-row-jlc9aov51dvhdzjyy8 {margin:0px 0px;}
#wa-row-jlc9aov51dvhdzjyy8>div {padding: 0px 0px;}
#wa-row-jlc9aov51dvhe921uo {margin:0px 0px;}
#wa-row-jlc9aov51dvhe921uo>div {padding: 0px 0px;}
#wa-row-jlc9b7y51dvhe73ikg {margin:0px 0px;}
#wa-row-jlc9b7y51dvhe73ikg>div {padding: 0px 0px;}
}
