#wa-compimage-ja3lhzc41dqhnaus5c {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-ja3lw7u91dqhlnu680 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-ja22lxy61dv5t0m4u8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-ja22zga11dv5t1fchs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-ja3ep2g01drbydaqyo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-ja3gl9v51drbyaf9j4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-ja3j3lvs1dqhlx86io {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jaaoiu211dug0iipz4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jjcipva31dusjrbncw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jjcipva31dusjrbncw>.row>.clearfix {margin-bottom:0px;}
#wa-container-jjcipva31dusjrbncw>.wa-container-vspacer {height:0px;}
#wa-container-jjcipva41dusjrvrwg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jjcipva41dusjrvrwg>.row>.clearfix {margin-bottom:0px;}
#wa-container-jjcipva41dusjrvrwg>.wa-container-vspacer {height:0px;}
#wa-container-jjcipva41dusjsgg74 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jjcipva41dusjsgg74>.row>.clearfix {margin-bottom:0px;}
#wa-container-jjcipva41dusjsgg74>.wa-container-vspacer {height:0px;}
#wa-container-jjcipva81dusjrbtog {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jjcipva81dusjrbtog>.row>.clearfix {margin-bottom:0px;}
#wa-container-jjcipva81dusjrbtog>.wa-container-vspacer {height:0px;}
#wa-container-jjcipvaa1dusjs62v4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jjcipvaa1dusjs62v4>.row>.clearfix {margin-bottom:0px;}
#wa-container-jjcipvaa1dusjs62v4>.wa-container-vspacer {height:0px;}
#wa-container-jjcipvaa1dusjs64g0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jjcipvaa1dusjs64g0>.row>.clearfix {margin-bottom:0px;}
#wa-container-jjcipvaa1dusjs64g0>.wa-container-vspacer {height:0px;}
#wa-row-j42fkg2e1dulvvkbjk {margin:0px 0px;}
#wa-row-j42fkg2e1dulvvkbjk>div {padding: 0px 0px;}
#wa-row-ja22lxy61dv5ucgc9c {margin:0px 0px;}
#wa-row-ja22lxy61dv5ucgc9c>div {padding: 0px 0px;}
#wa-row-ja3ep5b61drbzlhwf4 {margin:0px 0px;}
#wa-row-ja3ep5b61drbzlhwf4>div {padding: 0px 0px;}
#wa-row-ja3f3a0m1drbzd7q68>.wa-item-rowspacer {height:50px;}
#wa-row-ja3fvoht1drbzlbl34>.wa-item-rowspacer {height:50px;}
#wa-row-ja3gl9v51drbyrurkw {margin:0px 0px;}
#wa-row-ja3gl9v51drbyrurkw>div {padding: 0px 0px;}
#wa-row-ja3kqk0b1dqho41ci8 {margin:0px 0px;}
#wa-row-ja3kqk0b1dqho41ci8>div {padding: 0px 0px;}
#wa-row-ja3lk63q1dqhmxe61c>.wa-item-rowspacer {height:60px;}
#wa-row-ja3lk81a1dqhmy5ii8>.wa-item-rowspacer {height:20px;}
#wa-row-ja3lnwky1dqhluozwg>.wa-item-rowspacer {height:20px;}
#wa-row-ja3lw8nu1dqho3er74 {margin:0px 0px;}
#wa-row-ja3lw8nu1dqho3er74>div {padding: 0px 0px;}
#wa-row-jaaog9fm1dug0sfs6o {margin:0px 0px;}
#wa-row-jaaog9fm1dug0sfs6o>div {padding: 0px 0px;}
#wa-row-jaaoiu211dug0pttds {margin:0px 0px;}
#wa-row-jaaoiu211dug0pttds>div {padding: 0px 0px;}
#wa-row-jaaoltle1dug0pyp2o>.wa-item-rowspacer {height:20px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-j42fkg2e1dulvvkbjk {margin:0px 0px;}
#wa-row-j42fkg2e1dulvvkbjk>div {padding: 0px 0px;}
#wa-row-ja22lxy61dv5ucgc9c {margin:0px 0px;}
#wa-row-ja22lxy61dv5ucgc9c>div {padding: 0px 0px;}
#wa-row-ja3ep5b61drbzlhwf4 {margin:0px 0px;}
#wa-row-ja3ep5b61drbzlhwf4>div {padding: 0px 0px;}
#wa-row-ja3gl9v51drbyrurkw {margin:0px 0px;}
#wa-row-ja3gl9v51drbyrurkw>div {padding: 0px 0px;}
#wa-row-ja3kqk0b1dqho41ci8 {margin:0px 0px;}
#wa-row-ja3kqk0b1dqho41ci8>div {padding: 0px 0px;}
#wa-row-ja3lw8nu1dqho3er74 {margin:0px 0px;}
#wa-row-ja3lw8nu1dqho3er74>div {padding: 0px 0px;}
#wa-row-jaaog9fm1dug0sfs6o {margin:0px 0px;}
#wa-row-jaaog9fm1dug0sfs6o>div {padding: 0px 0px;}
#wa-row-jaaoiu211dug0pttds {margin:0px 0px;}
#wa-row-jaaoiu211dug0pttds>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-j42fkg2e1dulvvkbjk {margin:0px 0px;}
#wa-row-j42fkg2e1dulvvkbjk>div {padding: 0px 0px;}
#wa-row-ja22lxy61dv5ucgc9c {margin:0px 0px;}
#wa-row-ja22lxy61dv5ucgc9c>div {padding: 0px 0px;}
#wa-row-ja3ep5b61drbzlhwf4 {margin:0px 0px;}
#wa-row-ja3ep5b61drbzlhwf4>div {padding: 0px 0px;}
#wa-row-ja3gl9v51drbyrurkw {margin:0px 0px;}
#wa-row-ja3gl9v51drbyrurkw>div {padding: 0px 0px;}
#wa-row-ja3kqk0b1dqho41ci8 {margin:0px 0px;}
#wa-row-ja3kqk0b1dqho41ci8>div {padding: 0px 0px;}
#wa-row-ja3lw8nu1dqho3er74 {margin:0px 0px;}
#wa-row-ja3lw8nu1dqho3er74>div {padding: 0px 0px;}
#wa-row-jaaog9fm1dug0sfs6o {margin:0px 0px;}
#wa-row-jaaog9fm1dug0sfs6o>div {padding: 0px 0px;}
#wa-row-jaaoiu211dug0pttds {margin:0px 0px;}
#wa-row-jaaoiu211dug0pttds>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-j42fkg2e1dulvvkbjk {margin:0px 0px;}
#wa-row-j42fkg2e1dulvvkbjk>div {padding: 0px 0px;}
#wa-row-ja22lxy61dv5ucgc9c {margin:0px 0px;}
#wa-row-ja22lxy61dv5ucgc9c>div {padding: 0px 0px;}
#wa-row-ja3ep5b61drbzlhwf4 {margin:0px 0px;}
#wa-row-ja3ep5b61drbzlhwf4>div {padding: 0px 0px;}
#wa-row-ja3gl9v51drbyrurkw {margin:0px 0px;}
#wa-row-ja3gl9v51drbyrurkw>div {padding: 0px 0px;}
#wa-row-ja3kqk0b1dqho41ci8 {margin:0px 0px;}
#wa-row-ja3kqk0b1dqho41ci8>div {padding: 0px 0px;}
#wa-row-ja3lw8nu1dqho3er74 {margin:0px 0px;}
#wa-row-ja3lw8nu1dqho3er74>div {padding: 0px 0px;}
#wa-row-jaaog9fm1dug0sfs6o {margin:0px 0px;}
#wa-row-jaaog9fm1dug0sfs6o>div {padding: 0px 0px;}
#wa-row-jaaoiu211dug0pttds {margin:0px 0px;}
#wa-row-jaaoiu211dug0pttds>div {padding: 0px 0px;}
}
