#wa-container-jltw380b1duqcvtam8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jltw380b1duqcvtam8>.row>.clearfix {margin-bottom:0px;}
#wa-container-jltw380b1duqcvtam8>.wa-container-vspacer {height:0px;}
#wa-container-jltw380b1duqcx21og {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jltw380b1duqcx21og>.row>.clearfix {margin-bottom:0px;}
#wa-container-jltw380b1duqcx21og>.wa-container-vspacer {height:0px;}
#wa-row-jk6p5g3n1dvwleluyw {margin:0px 0px;}
#wa-row-jk6p5g3n1dvwleluyw>div {padding: 0px 0px;}
#wa-row-jk6pa5c71du345xzz4 {margin:0px 0px;}
#wa-row-jk6pa5c71du345xzz4>div {padding: 0px 0px;}
#wa-row-jk8i1nk91dtsdvg134>.wa-item-rowspacer {height:100px;}
#wa-row-jk8i1s9m1dtsecwpe8 {margin:0px 0px;}
#wa-row-jk8i1s9m1dtsecwpe8>div {padding: 0px 0px;}
#wa-row-jk8icip21dtsd0u0m8>.wa-item-rowspacer {height:500px;}
html body {width:100%; height:100%;background-color:#ffffff;}
@media (min-width: 768px){
#wa-row-jk6p5g3n1dvwleluyw {margin:0px 0px;}
#wa-row-jk6p5g3n1dvwleluyw>div {padding: 0px 0px;}
#wa-row-jk6pa5c71du345xzz4 {margin:0px 0px;}
#wa-row-jk6pa5c71du345xzz4>div {padding: 0px 0px;}
#wa-row-jk8i1s9m1dtsecwpe8 {margin:0px 0px;}
#wa-row-jk8i1s9m1dtsecwpe8>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jk6p5g3n1dvwleluyw {margin:0px 0px;}
#wa-row-jk6p5g3n1dvwleluyw>div {padding: 0px 0px;}
#wa-row-jk6pa5c71du345xzz4 {margin:0px 0px;}
#wa-row-jk6pa5c71du345xzz4>div {padding: 0px 0px;}
#wa-row-jk8i1s9m1dtsecwpe8 {margin:0px 0px;}
#wa-row-jk8i1s9m1dtsecwpe8>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jk6p5g3n1dvwleluyw {margin:0px 0px;}
#wa-row-jk6p5g3n1dvwleluyw>div {padding: 0px 0px;}
#wa-row-jk6pa5c71du345xzz4 {margin:0px 0px;}
#wa-row-jk6pa5c71du345xzz4>div {padding: 0px 0px;}
#wa-row-jk8i1s9m1dtsecwpe8 {margin:0px 0px;}
#wa-row-jk8i1s9m1dtsecwpe8>div {padding: 0px 0px;}
}
