#wa-compimage-jk91z2di1dtsei0su8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-jk91z2di1dtsei0su8 {padding:25px 25px 25px 25px;}
#wa-comptext-jk91z2di1dtsehx1c0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:25px 25px 25px 25px;}
#wa-container-jo5un3ef1dsoh5zmyo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jo5un3ef1dsoh5zmyo>.row>.clearfix {margin-bottom:0px;}
#wa-container-jo5un3ef1dsoh5zmyo>.wa-container-vspacer {height:0px;}
#wa-container-jo5un3eg1dsoh7wzcw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jo5un3eg1dsoh7wzcw>.row>.clearfix {margin-bottom:0px;}
#wa-container-jo5un3eg1dsoh7wzcw>.wa-container-vspacer {height:0px;}
#wa-row-jk91ywbd1dtseaxr40 {margin:0px 0px;}
#wa-row-jk91ywbd1dtseaxr40>div {padding: 0px 0px;}
#wa-row-jk91ywbd1dtseaxru8>.wa-item-rowspacer {height:50px;}
#wa-row-jk91ywbd1dtseaxv4w>.wa-item-rowspacer {height:100px;}
#wa-row-jk91ywbd1dtseay3sw>.wa-item-rowspacer {height:100px;}
#wa-row-jk91z2di1dtsebo70g {margin:0px 0px;}
#wa-row-jk91z2di1dtsebo70g>div {padding: 0px 0px;}
#wa-row-jk9503dy1dr318nxps {margin:0px 0px;}
#wa-row-jk9503dy1dr318nxps>div {padding: 0px 0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jk91ywbd1dtseaxr40 {margin:0px 0px;}
#wa-row-jk91ywbd1dtseaxr40>div {padding: 0px 0px;}
#wa-row-jk91z2di1dtsebo70g {margin:0px 0px;}
#wa-row-jk91z2di1dtsebo70g>div {padding: 0px 0px;}
#wa-row-jk9503dy1dr318nxps {margin:0px 0px;}
#wa-row-jk9503dy1dr318nxps>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jk91ywbd1dtseaxr40 {margin:0px 0px;}
#wa-row-jk91ywbd1dtseaxr40>div {padding: 0px 0px;}
#wa-row-jk91z2di1dtsebo70g {margin:0px 0px;}
#wa-row-jk91z2di1dtsebo70g>div {padding: 0px 0px;}
#wa-row-jk9503dy1dr318nxps {margin:0px 0px;}
#wa-row-jk9503dy1dr318nxps>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jk91ywbd1dtseaxr40 {margin:0px 0px;}
#wa-row-jk91ywbd1dtseaxr40>div {padding: 0px 0px;}
#wa-row-jk91z2di1dtsebo70g {margin:0px 0px;}
#wa-row-jk91z2di1dtsebo70g>div {padding: 0px 0px;}
#wa-row-jk9503dy1dr318nxps {margin:0px 0px;}
#wa-row-jk9503dy1dr318nxps>div {padding: 0px 0px;}
}
