#wa-comptext-jmso8sd91dsb51edq8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jmszcm7q1doz3xhyww {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jmszd9el1doz3smn0g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jmszeb7o1doz3sql8g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jmszjm4f1doz3zvvuo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jmszqzxv1doz3yh3wg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jmszrtzd1doz3ybl6o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jnczs0ua1dsnung7b4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jnczs0ua1dsnung7b4>.row>.clearfix {margin-bottom:0px;}
#wa-container-jnczs0ua1dsnung7b4>.wa-container-vspacer {height:0px;}
#wa-container-jnczs0ub1dsnunfthc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jnczs0ub1dsnunfthc>.row>.clearfix {margin-bottom:0px;}
#wa-container-jnczs0ub1dsnunfthc>.wa-container-vspacer {height:0px;}
#wa-container-jnczs0ud1dsnuvol4w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jnczs0ud1dsnuvol4w>.row>.clearfix {margin-bottom:0px;}
#wa-container-jnczs0ud1dsnuvol4w>.wa-container-vspacer {height:0px;}
#wa-container-jnczs0ud1dsnuw19fk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jnczs0ud1dsnuw19fk>.row>.clearfix {margin-bottom:0px;}
#wa-container-jnczs0ud1dsnuw19fk>.wa-container-vspacer {height:0px;}
#wa-container-jnczs0ug1dsnuvxdkw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jnczs0ug1dsnuvxdkw>.row>.clearfix {margin-bottom:0px;}
#wa-container-jnczs0ug1dsnuvxdkw>.wa-container-vspacer {height:0px;}
#wa-row-jmso8sd91dvwnn9ak8 {margin:0px 0px;}
#wa-row-jmso8sd91dvwnn9ak8>div {padding: 0px 0px;}
#wa-row-jmsp81221dsb6rfuio>.wa-item-rowspacer {height:100px;}
#wa-row-jmsp82m31dsb4xvgf4>.wa-item-rowspacer {height:900px;}
#wa-row-jmsysv7n1doz5fv2jk {margin:0px 0px;}
#wa-row-jmsysv7n1doz5fv2jk>div {padding: 0px 0px;}
#wa-row-jmsyv9tp1doz4faiw0 {margin:0px 0px;}
#wa-row-jmsyv9tp1doz4faiw0>div {padding: 0px 0px;}
#wa-row-jmsyvg2k1doz57gpfk {margin:0px 0px;}
#wa-row-jmsyvg2k1doz57gpfk>div {padding: 0px 0px;}
#wa-row-jmszciot1doz5funwg {margin:0px 0px;}
#wa-row-jmszciot1doz5funwg>div {padding: 0px 0px;}
#wa-row-jmszg3q11doz59yqgg {margin:0px 0px;}
#wa-row-jmszg3q11doz59yqgg>div {padding: 0px 0px;}
#wa-row-jmszhoxq1doz58moo0>.wa-item-rowspacer {height:800px;}
#wa-row-jmszjm4f1doz57lxa8 {margin:0px 0px;}
#wa-row-jmszjm4f1doz57lxa8>div {padding: 0px 0px;}
#wa-row-jmszjm4f1doz57m10g {margin:0px 0px;}
#wa-row-jmszjm4f1doz57m10g>div {padding: 0px 0px;}
#wa-row-jmt0k1bm1doz56vr9c>.wa-item-rowspacer {height:200px;}
#wa-row-jmt0k8jm1doz55xy00>.wa-item-rowspacer {height:100px;}
#wa-row-jmt0m3401doz5ihnog>.wa-item-rowspacer {height:100px;}
#wa-row-jmt0m61c1doz569oz4>.wa-item-rowspacer {height:100px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jmso8sd91dvwnn9ak8 {margin:0px 0px;}
#wa-row-jmso8sd91dvwnn9ak8>div {padding: 0px 0px;}
#wa-row-jmsp81221dsb6rfuio>.wa-item-rowspacer {height:350px;}
#wa-row-jmsysv7n1doz5fv2jk {margin:0px 0px;}
#wa-row-jmsysv7n1doz5fv2jk>div {padding: 0px 0px;}
#wa-row-jmsyv9tp1doz4faiw0 {margin:0px 0px;}
#wa-row-jmsyv9tp1doz4faiw0>div {padding: 0px 0px;}
#wa-row-jmsyvg2k1doz57gpfk {margin:0px 0px;}
#wa-row-jmsyvg2k1doz57gpfk>div {padding: 0px 0px;}
#wa-row-jmszciot1doz5funwg {margin:0px 0px;}
#wa-row-jmszciot1doz5funwg>div {padding: 0px 0px;}
#wa-row-jmszg3q11doz59yqgg {margin:0px 0px;}
#wa-row-jmszg3q11doz59yqgg>div {padding: 0px 0px;}
#wa-row-jmszjm4f1doz57lxa8 {margin:0px 0px;}
#wa-row-jmszjm4f1doz57lxa8>div {padding: 0px 0px;}
#wa-row-jmszjm4f1doz57m10g {margin:0px 0px;}
#wa-row-jmszjm4f1doz57m10g>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jmso8sd91dvwnn9ak8 {margin:0px 0px;}
#wa-row-jmso8sd91dvwnn9ak8>div {padding: 0px 0px;}
#wa-row-jmsp81221dsb6rfuio>.wa-item-rowspacer {height:200px;}
#wa-row-jmsysv7n1doz5fv2jk {margin:0px 0px;}
#wa-row-jmsysv7n1doz5fv2jk>div {padding: 0px 0px;}
#wa-row-jmsyv9tp1doz4faiw0 {margin:0px 0px;}
#wa-row-jmsyv9tp1doz4faiw0>div {padding: 0px 0px;}
#wa-row-jmsyvg2k1doz57gpfk {margin:0px 0px;}
#wa-row-jmsyvg2k1doz57gpfk>div {padding: 0px 0px;}
#wa-row-jmszciot1doz5funwg {margin:0px 0px;}
#wa-row-jmszciot1doz5funwg>div {padding: 0px 0px;}
#wa-row-jmszg3q11doz59yqgg {margin:0px 0px;}
#wa-row-jmszg3q11doz59yqgg>div {padding: 0px 0px;}
#wa-row-jmszjm4f1doz57lxa8 {margin:0px 0px;}
#wa-row-jmszjm4f1doz57lxa8>div {padding: 0px 0px;}
#wa-row-jmszjm4f1doz57m10g {margin:0px 0px;}
#wa-row-jmszjm4f1doz57m10g>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jmso8sd91dvwnn9ak8 {margin:0px 0px;}
#wa-row-jmso8sd91dvwnn9ak8>div {padding: 0px 0px;}
#wa-row-jmsp81221dsb6rfuio>.wa-item-rowspacer {height:300px;}
#wa-row-jmsysv7n1doz5fv2jk {margin:0px 0px;}
#wa-row-jmsysv7n1doz5fv2jk>div {padding: 0px 0px;}
#wa-row-jmsyv9tp1doz4faiw0 {margin:0px 0px;}
#wa-row-jmsyv9tp1doz4faiw0>div {padding: 0px 0px;}
#wa-row-jmsyvg2k1doz57gpfk {margin:0px 0px;}
#wa-row-jmsyvg2k1doz57gpfk>div {padding: 0px 0px;}
#wa-row-jmszciot1doz5funwg {margin:0px 0px;}
#wa-row-jmszciot1doz5funwg>div {padding: 0px 0px;}
#wa-row-jmszg3q11doz59yqgg {margin:0px 0px;}
#wa-row-jmszg3q11doz59yqgg>div {padding: 0px 0px;}
#wa-row-jmszjm4f1doz57lxa8 {margin:0px 0px;}
#wa-row-jmszjm4f1doz57lxa8>div {padding: 0px 0px;}
#wa-row-jmszjm4f1doz57m10g {margin:0px 0px;}
#wa-row-jmszjm4f1doz57m10g>div {padding: 0px 0px;}
}
