#wa-comptext-j42fkfwz1dulvq76dc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-j6034l9n1doxk6dpts {background-color:#fdd455;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jhtzqpj71dsq0oibr4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jhtzqpj71dsq0oibr4>.row>.clearfix {margin-bottom:0px;}
#wa-container-jhtzqpj71dsq0oibr4>.wa-container-vspacer {height:0px;}
#wa-container-jhtzqpj71dsq0rbvnk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jhtzqpj71dsq0rbvnk>.row>.clearfix {margin-bottom:20px;}
#wa-container-jhtzqpj71dsq0rbvnk>.wa-container-vspacer {height:20px;}
#wa-container-jhtzqpj91dsq0u6y2o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jhtzqpj91dsq0u6y2o>.row>.clearfix {margin-bottom:0px;}
#wa-container-jhtzqpj91dsq0u6y2o>.wa-container-vspacer {height:0px;}
#wa-container-jhtzqpj91dsq0w3egw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jhtzqpj91dsq0w3egw>.row>.clearfix {margin-bottom:0px;}
#wa-container-jhtzqpj91dsq0w3egw>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-jhtzqpj71dsq0rbvnk {background-color:#ffffff;}
#wa-row-j42fkfwz1dulvwh57k {margin:0px 0px;}
#wa-row-j42fkfwz1dulvwh57k>div {padding: 0px 0px;}
#wa-row-j42fkfwz1dulvwh9bk>.wa-item-rowspacer {height:50px;}
#wa-row-j42fkfwz1dulvwha2o {margin:0px 0px;}
#wa-row-j42fkfwz1dulvwha2o>div {padding: 0px 0px;}
#wa-row-j42fkfwz1dulvwhf9s>.wa-item-rowspacer {height:10px;}
#wa-row-j42fkfwz1dulvwhlcg {margin:0px 0px;}
#wa-row-j42fkfwz1dulvwhlcg>div {padding: 0px 0px;}
#wa-row-j42fkfwz1dulvwhrrk {margin:0px 0px;}
#wa-row-j42fkfwz1dulvwhrrk>div {padding: 0px 0px;}
#wa-row-j4thj6df1dvbcyku1c {margin:0px 0px;}
#wa-row-j4thj6df1dvbcyku1c>div {padding: 0px 0px;}
#wa-row-j6037znc1doxm0s24w>.wa-item-rowspacer {height:40px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-j42fkfwz1dulvwh57k {margin:0px 0px;}
#wa-row-j42fkfwz1dulvwh57k>div {padding: 0px 0px;}
#wa-row-j42fkfwz1dulvwha2o {margin:0px 0px;}
#wa-row-j42fkfwz1dulvwha2o>div {padding: 0px 0px;}
#wa-row-j42fkfwz1dulvwhlcg {margin:0px 0px;}
#wa-row-j42fkfwz1dulvwhlcg>div {padding: 0px 0px;}
#wa-row-j42fkfwz1dulvwhrrk {margin:0px 0px;}
#wa-row-j42fkfwz1dulvwhrrk>div {padding: 0px 0px;}
#wa-row-j4thj6df1dvbcyku1c {margin:0px 0px;}
#wa-row-j4thj6df1dvbcyku1c>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-j42fkfwz1dulvwh57k {margin:0px 0px;}
#wa-row-j42fkfwz1dulvwh57k>div {padding: 0px 0px;}
#wa-row-j42fkfwz1dulvwha2o {margin:0px 0px;}
#wa-row-j42fkfwz1dulvwha2o>div {padding: 0px 0px;}
#wa-row-j42fkfwz1dulvwhlcg {margin:0px 0px;}
#wa-row-j42fkfwz1dulvwhlcg>div {padding: 0px 0px;}
#wa-row-j42fkfwz1dulvwhrrk {margin:0px 0px;}
#wa-row-j42fkfwz1dulvwhrrk>div {padding: 0px 0px;}
#wa-row-j4thj6df1dvbcyku1c {margin:0px 0px;}
#wa-row-j4thj6df1dvbcyku1c>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-j42fkfwz1dulvwh57k {margin:0px 0px;}
#wa-row-j42fkfwz1dulvwh57k>div {padding: 0px 0px;}
#wa-row-j42fkfwz1dulvwha2o {margin:0px 0px;}
#wa-row-j42fkfwz1dulvwha2o>div {padding: 0px 0px;}
#wa-row-j42fkfwz1dulvwhlcg {margin:0px 0px;}
#wa-row-j42fkfwz1dulvwhlcg>div {padding: 0px 0px;}
#wa-row-j42fkfwz1dulvwhrrk {margin:0px 0px;}
#wa-row-j42fkfwz1dulvwhrrk>div {padding: 0px 0px;}
#wa-row-j4thj6df1dvbcyku1c {margin:0px 0px;}
#wa-row-j4thj6df1dvbcyku1c>div {padding: 0px 0px;}
}
