#wa-container-jncn08nn1dozh689vk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:20px 20px 20px 20px;}
#wa-container-jncn08nn1dozh689vk>.row>.clearfix {margin-bottom:0px;}
#wa-container-jncn08nn1dozh689vk>.wa-container-vspacer {height:0px;}
#wa-container-jncn2kn11dozhgm77k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jncn2kn11dozhgm77k>.row>.clearfix {margin-bottom:0px;}
#wa-container-jncn2kn11dozhgm77k>.wa-container-vspacer {height:0px;}
#wa-image-gallery-col-container-jkhv4ynl1dsxvp1iog {margin: -2px 0px;padding:10px 10px 10px 10px;}
#wa-image-gallery-col-container-jncn0dj61dozgwlkkg {margin: -2px 0px;padding:10px 10px 10px 10px;}
#wa-image-gallery-col-container-jncn0ejx1doziem300 {margin: -2px 0px;padding:10px 10px 10px 10px;}
#wa-image-gallery-col-container-jncn0fum1dozif0xu8 {margin: -2px 0px;padding:10px 10px 10px 10px;}
#wa-image-gallery-col-container-jncn2oxp1doziezm34 {margin: -2px 0px;padding:0px 0px 0px 0px;}
#wa-image-gallery-row-jkhv4ynl1dsxvp1iog {margin:0px -2px;}
#wa-image-gallery-row-jkhv4ynl1dsxvp1iog>div {padding: 2px;}
#wa-image-gallery-row-jncn0dj61dozgwlkkg {margin:0px -2px;}
#wa-image-gallery-row-jncn0dj61dozgwlkkg>div {padding: 2px;}
#wa-image-gallery-row-jncn0ejx1doziem300 {margin:0px -2px;}
#wa-image-gallery-row-jncn0ejx1doziem300>div {padding: 2px;}
#wa-image-gallery-row-jncn0fum1dozif0xu8 {margin:0px -2px;}
#wa-image-gallery-row-jncn0fum1dozif0xu8>div {padding: 2px;}
#wa-image-gallery-row-jncn2oxp1doziezm34 {margin:0px -2px;}
#wa-image-gallery-row-jncn2oxp1doziezm34>div {padding: 2px;}
#wa-row-jkhv33qc1dsxtxmmbk {margin:0px 0px;}
#wa-row-jkhv33qc1dsxtxmmbk>div {padding: 0px 0px;}
#wa-row-jncn2kaf1dozia1zzk {margin:0px 0px;}
#wa-row-jncn2kaf1dozia1zzk>div {padding: 0px 0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jkhv33qc1dsxtxmmbk {margin:0px 0px;}
#wa-row-jkhv33qc1dsxtxmmbk>div {padding: 0px 0px;}
#wa-row-jncn2kaf1dozia1zzk {margin:0px 0px;}
#wa-row-jncn2kaf1dozia1zzk>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jkhv33qc1dsxtxmmbk {margin:0px 0px;}
#wa-row-jkhv33qc1dsxtxmmbk>div {padding: 0px 0px;}
#wa-row-jncn2kaf1dozia1zzk {margin:0px 0px;}
#wa-row-jncn2kaf1dozia1zzk>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jkhv33qc1dsxtxmmbk {margin:0px 0px;}
#wa-row-jkhv33qc1dsxtxmmbk>div {padding: 0px 0px;}
#wa-row-jncn2kaf1dozia1zzk {margin:0px 0px;}
#wa-row-jncn2kaf1dozia1zzk>div {padding: 0px 0px;}
}
