#wa-compimage-jk911mcr1dtsekqghs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-jk911mcr1dtsekqghs {padding:25px 25px 25px 25px;}
#wa-comptext-jk911mcr1dtsenxslc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:25px 25px 25px 25px;}
#wa-container-jm787wnh1dv3pybt34 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jm787wnh1dv3pybt34>.row>.clearfix {margin-bottom:0px;}
#wa-container-jm787wnh1dv3pybt34>.wa-container-vspacer {height:0px;}
#wa-container-jm787wnh1dv3q1n4zk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jm787wnh1dv3q1n4zk>.row>.clearfix {margin-bottom:0px;}
#wa-container-jm787wnh1dv3q1n4zk>.wa-container-vspacer {height:0px;}
#wa-row-jk911mcr1dtse3nb00>.wa-item-rowspacer {height:100px;}
#wa-row-jk911mcr1dtsedtru8 {margin:0px 0px;}
#wa-row-jk911mcr1dtsedtru8>div {padding: 0px 0px;}
#wa-row-jk91r9751dtse4w48g>.wa-item-rowspacer {height:50px;}
#wa-row-jk91r9751dtsf2i7r4 {margin:0px 0px;}
#wa-row-jk91r9751dtsf2i7r4>div {padding: 0px 0px;}
#wa-row-jk91re941dtsezoq74>.wa-item-rowspacer {height:100px;}
#wa-row-jk950gou1dr31dplgg {margin:0px 0px;}
#wa-row-jk950gou1dr31dplgg>div {padding: 0px 0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jk911mcr1dtsedtru8 {margin:0px 0px;}
#wa-row-jk911mcr1dtsedtru8>div {padding: 0px 0px;}
#wa-row-jk91r9751dtsf2i7r4 {margin:0px 0px;}
#wa-row-jk91r9751dtsf2i7r4>div {padding: 0px 0px;}
#wa-row-jk950gou1dr31dplgg {margin:0px 0px;}
#wa-row-jk950gou1dr31dplgg>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jk911mcr1dtsedtru8 {margin:0px 0px;}
#wa-row-jk911mcr1dtsedtru8>div {padding: 0px 0px;}
#wa-row-jk91r9751dtsf2i7r4 {margin:0px 0px;}
#wa-row-jk91r9751dtsf2i7r4>div {padding: 0px 0px;}
#wa-row-jk950gou1dr31dplgg {margin:0px 0px;}
#wa-row-jk950gou1dr31dplgg>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jk911mcr1dtsedtru8 {margin:0px 0px;}
#wa-row-jk911mcr1dtsedtru8>div {padding: 0px 0px;}
#wa-row-jk91r9751dtsf2i7r4 {margin:0px 0px;}
#wa-row-jk91r9751dtsf2i7r4>div {padding: 0px 0px;}
#wa-row-jk950gou1dr31dplgg {margin:0px 0px;}
#wa-row-jk950gou1dr31dplgg>div {padding: 0px 0px;}
}
