#wa-container-joqjeb5e1duos5hzb4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-joqjeb5e1duos5hzb4>.row>.clearfix {margin-bottom:0px;}
#wa-container-joqjeb5e1duos5hzb4>.wa-container-vspacer {height:0px;}
#wa-container-joqjeond1duosbcvls {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-joqjeond1duosbcvls>.row>.clearfix {margin-bottom:0px;}
#wa-container-joqjeond1duosbcvls>.wa-container-vspacer {height:0px;}
#wa-row-jldt3cn81dv283ad34>.wa-item-rowspacer {height:100px;}
#wa-row-jldt3cn81dv283q99s {margin:0px 0px;}
#wa-row-jldt3cn81dv283q99s>div {padding: 0px 0px;}
#wa-row-jomk8m0z1dqoh01ydc>.wa-item-rowspacer {height:50px;}
#wa-row-joqjeocj1duoug2wkw {margin:0px 0px;}
#wa-row-joqjeocj1duoug2wkw>div {padding: 0px 0px;}
#wa-row-joqjgucy1duotp3h80 {margin:0px 0px;}
#wa-row-joqjgucy1duotp3h80>div {padding: 0px 0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jldt3cn81dv283q99s {margin:0px 0px;}
#wa-row-jldt3cn81dv283q99s>div {padding: 0px 0px;}
#wa-row-joqjeocj1duoug2wkw {margin:0px 0px;}
#wa-row-joqjeocj1duoug2wkw>div {padding: 0px 0px;}
#wa-row-joqjgucy1duotp3h80 {margin:0px 0px;}
#wa-row-joqjgucy1duotp3h80>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jldt3cn81dv283q99s {margin:0px 0px;}
#wa-row-jldt3cn81dv283q99s>div {padding: 0px 0px;}
#wa-row-joqjeocj1duoug2wkw {margin:0px 0px;}
#wa-row-joqjeocj1duoug2wkw>div {padding: 0px 0px;}
#wa-row-joqjgucy1duotp3h80 {margin:0px 0px;}
#wa-row-joqjgucy1duotp3h80>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jldt3cn81dv283q99s {margin:0px 0px;}
#wa-row-jldt3cn81dv283q99s>div {padding: 0px 0px;}
#wa-row-joqjeocj1duoug2wkw {margin:0px 0px;}
#wa-row-joqjeocj1duoug2wkw>div {padding: 0px 0px;}
#wa-row-joqjgucy1duotp3h80 {margin:0px 0px;}
#wa-row-joqjgucy1duotp3h80>div {padding: 0px 0px;}
}
