#wa-compimage-jk921kgq1dtsel5n9c {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-jk921kgq1dtsel5n9c {padding:25px 25px 25px 25px;}
#wa-comptext-jk921kgq1dtsen18g0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:25px 25px 25px 25px;}
#wa-container-jm7891ge1dv3q7npxc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jm7891ge1dv3q7npxc>.row>.clearfix {margin-bottom:0px;}
#wa-container-jm7891ge1dv3q7npxc>.wa-container-vspacer {height:0px;}
#wa-container-jm7891ge1dv3rdsdts {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jm7891ge1dv3rdsdts>.row>.clearfix {margin-bottom:0px;}
#wa-container-jm7891ge1dv3rdsdts>.wa-container-vspacer {height:0px;}
#wa-row-jk9217q71dtsee15fk>.wa-item-rowspacer {height:100px;}
#wa-row-jk9217q71dtseefe8w>.wa-item-rowspacer {height:100px;}
#wa-row-jk9217q71dtsf4a700 {margin:0px 0px;}
#wa-row-jk9217q71dtsf4a700>div {padding: 0px 0px;}
#wa-row-jk9217q71dtsf4a82o>.wa-item-rowspacer {height:50px;}
#wa-row-jk921kgq1dtsf282eo {margin:0px 0px;}
#wa-row-jk921kgq1dtsf282eo>div {padding: 0px 0px;}
#wa-row-jk94zyl21dr321so0w {margin:0px 0px;}
#wa-row-jk94zyl21dr321so0w>div {padding: 0px 0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jk9217q71dtsf4a700 {margin:0px 0px;}
#wa-row-jk9217q71dtsf4a700>div {padding: 0px 0px;}
#wa-row-jk921kgq1dtsf282eo {margin:0px 0px;}
#wa-row-jk921kgq1dtsf282eo>div {padding: 0px 0px;}
#wa-row-jk94zyl21dr321so0w {margin:0px 0px;}
#wa-row-jk94zyl21dr321so0w>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jk9217q71dtsf4a700 {margin:0px 0px;}
#wa-row-jk9217q71dtsf4a700>div {padding: 0px 0px;}
#wa-row-jk921kgq1dtsf282eo {margin:0px 0px;}
#wa-row-jk921kgq1dtsf282eo>div {padding: 0px 0px;}
#wa-row-jk94zyl21dr321so0w {margin:0px 0px;}
#wa-row-jk94zyl21dr321so0w>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jk9217q71dtsf4a700 {margin:0px 0px;}
#wa-row-jk9217q71dtsf4a700>div {padding: 0px 0px;}
#wa-row-jk921kgq1dtsf282eo {margin:0px 0px;}
#wa-row-jk921kgq1dtsf282eo>div {padding: 0px 0px;}
#wa-row-jk94zyl21dr321so0w {margin:0px 0px;}
#wa-row-jk94zyl21dr321so0w>div {padding: 0px 0px;}
}
