#wa-compimage-jk91j7gr1dtsersa9s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-jk91j7gr1dtsersa9s {padding:25px 25px 25px 25px;}
#wa-comptext-jk91j7gr1dtserb7y8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:25px 25px 25px 25px;}
#wa-container-jkdnggzj1dr5mio3y8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jkdnggzj1dr5mio3y8>.row>.clearfix {margin-bottom:0px;}
#wa-container-jkdnggzj1dr5mio3y8>.wa-container-vspacer {height:0px;}
#wa-container-jkdnggzj1dr5mipdds {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jkdnggzj1dr5mipdds>.row>.clearfix {margin-bottom:0px;}
#wa-container-jkdnggzj1dr5mipdds>.wa-container-vspacer {height:0px;}
#wa-row-jk91j7gr1dtsf26agw {margin:0px 0px;}
#wa-row-jk91j7gr1dtsf26agw>div {padding: 0px 0px;}
#wa-row-jk91j7gr1dtsf28nf4>.wa-item-rowspacer {height:100px;}
#wa-row-jk91p47h1dtsebo70g {margin:0px 0px;}
#wa-row-jk91p47h1dtsebo70g>div {padding: 0px 0px;}
#wa-row-jk91p47h1dtsec1u8g>.wa-item-rowspacer {height:50px;}
#wa-row-jk91ps011dtsf2w1ts>.wa-item-rowspacer {height:100px;}
#wa-row-jk950dnh1dr31dgx9c {margin:0px 0px;}
#wa-row-jk950dnh1dr31dgx9c>div {padding: 0px 0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jk91j7gr1dtsf26agw {margin:0px 0px;}
#wa-row-jk91j7gr1dtsf26agw>div {padding: 0px 0px;}
#wa-row-jk91p47h1dtsebo70g {margin:0px 0px;}
#wa-row-jk91p47h1dtsebo70g>div {padding: 0px 0px;}
#wa-row-jk950dnh1dr31dgx9c {margin:0px 0px;}
#wa-row-jk950dnh1dr31dgx9c>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jk91j7gr1dtsf26agw {margin:0px 0px;}
#wa-row-jk91j7gr1dtsf26agw>div {padding: 0px 0px;}
#wa-row-jk91p47h1dtsebo70g {margin:0px 0px;}
#wa-row-jk91p47h1dtsebo70g>div {padding: 0px 0px;}
#wa-row-jk950dnh1dr31dgx9c {margin:0px 0px;}
#wa-row-jk950dnh1dr31dgx9c>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jk91j7gr1dtsf26agw {margin:0px 0px;}
#wa-row-jk91j7gr1dtsf26agw>div {padding: 0px 0px;}
#wa-row-jk91p47h1dtsebo70g {margin:0px 0px;}
#wa-row-jk91p47h1dtsebo70g>div {padding: 0px 0px;}
#wa-row-jk950dnh1dr31dgx9c {margin:0px 0px;}
#wa-row-jk950dnh1dr31dgx9c>div {padding: 0px 0px;}
}
