#wa-compimage-jaanx5aa1dufz3cc8w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-jaanx5ab1dufz2yz28 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-jaanx5aa1dufz394hs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jaanx5ab1dufz2fjsw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jaanx5ab1dufz2zzeo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jaanx5ab1dufz33y0w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jaanx5ab1dufz3mp6o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jaanzzhm1dufzd1j40 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jaanzzhm1dufzdg7pc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jaanzzhm1dufze6y2o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jaao4am61dufz4w6bk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jaao4am61dufz67i80 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jaao4am61dufz67jeo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jaao6n3k1dufyxq800 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jaao6n3k1dufyxq96o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jaao6n3k1dufyxqcqo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jaao7tbm1dufyyfeo0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jaao7tbm1dufyzfdog {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jaao7tbm1dufz05ngg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jjcir1wv1dusjqx728 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jjcir1wv1dusjqx728>.row>.clearfix {margin-bottom:0px;}
#wa-container-jjcir1wv1dusjqx728>.wa-container-vspacer {height:0px;}
#wa-container-jjcir1ww1dusjrggsg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jjcir1ww1dusjrggsg>.row>.clearfix {margin-bottom:0px;}
#wa-container-jjcir1ww1dusjrggsg>.wa-container-vspacer {height:0px;}
#wa-container-jjcir1ww1dusjroa2o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jjcir1ww1dusjroa2o>.row>.clearfix {margin-bottom:0px;}
#wa-container-jjcir1ww1dusjroa2o>.wa-container-vspacer {height:0px;}
#wa-container-jjcir1xb1dusjs1pmo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jjcir1xb1dusjs1pmo>.row>.clearfix {margin-bottom:0px;}
#wa-container-jjcir1xb1dusjs1pmo>.wa-container-vspacer {height:0px;}
#wa-container-jjcir1xd1dusjsxk3k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jjcir1xd1dusjsxk3k>.row>.clearfix {margin-bottom:0px;}
#wa-container-jjcir1xd1dusjsxk3k>.wa-container-vspacer {height:0px;}
#wa-row-jaanx5aa1dug0c9qk0 {margin:0px 0px;}
#wa-row-jaanx5aa1dug0c9qk0>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0c9xu8>.wa-item-rowspacer {height:50px;}
#wa-row-jaanx5aa1dug0c9zgg {margin:0px 0px;}
#wa-row-jaanx5aa1dug0c9zgg>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0ca7ao {margin:0px 0px;}
#wa-row-jaanx5aa1dug0ca7ao>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0cabe8>.wa-item-rowspacer {height:50px;}
#wa-row-jaanx5aa1dug0cav9s>.wa-item-rowspacer {height:60px;}
#wa-row-jaanx5aa1dug0caw8w {margin:0px 0px;}
#wa-row-jaanx5aa1dug0caw8w>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0cazr4 {margin:0px 0px;}
#wa-row-jaanx5aa1dug0cazr4>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0cbsao>.wa-item-rowspacer {height:50px;}
#wa-row-jaanx5aa1dug0cbszk {margin:0px 0px;}
#wa-row-jaanx5aa1dug0cbszk>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0cbvq8>.wa-item-rowspacer {height:20px;}
#wa-row-jaanzzhm1dug0cxmmo {margin:0px 0px;}
#wa-row-jaanzzhm1dug0cxmmo>div {padding: 0px 0px;}
#wa-row-jaao4am61dug0chuuo {margin:0px 0px;}
#wa-row-jaao4am61dug0chuuo>div {padding: 0px 0px;}
#wa-row-jaao6n3k1dufyuflhs {margin:0px 0px;}
#wa-row-jaao6n3k1dufyuflhs>div {padding: 0px 0px;}
#wa-row-jaao7tbm1dug0s2w80 {margin:0px 0px;}
#wa-row-jaao7tbm1dug0s2w80>div {padding: 0px 0px;}
#wa-row-jaaoblcu1dug0l01qo>.wa-item-rowspacer {height:50px;}
#wa-row-jaaobovu1dug0a6wcw>.wa-item-rowspacer {height:50px;}
#wa-row-jaaobr991dug0c1p5c>.wa-item-rowspacer {height:50px;}
#wa-row-jaaobw051dug0af55s>.wa-item-rowspacer {height:50px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jaanx5aa1dug0c9qk0 {margin:0px 0px;}
#wa-row-jaanx5aa1dug0c9qk0>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0c9zgg {margin:0px 0px;}
#wa-row-jaanx5aa1dug0c9zgg>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0ca7ao {margin:0px 0px;}
#wa-row-jaanx5aa1dug0ca7ao>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0caw8w {margin:0px 0px;}
#wa-row-jaanx5aa1dug0caw8w>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0cazr4 {margin:0px 0px;}
#wa-row-jaanx5aa1dug0cazr4>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0cbszk {margin:0px 0px;}
#wa-row-jaanx5aa1dug0cbszk>div {padding: 0px 0px;}
#wa-row-jaanzzhm1dug0cxmmo {margin:0px 0px;}
#wa-row-jaanzzhm1dug0cxmmo>div {padding: 0px 0px;}
#wa-row-jaao4am61dug0chuuo {margin:0px 0px;}
#wa-row-jaao4am61dug0chuuo>div {padding: 0px 0px;}
#wa-row-jaao6n3k1dufyuflhs {margin:0px 0px;}
#wa-row-jaao6n3k1dufyuflhs>div {padding: 0px 0px;}
#wa-row-jaao7tbm1dug0s2w80 {margin:0px 0px;}
#wa-row-jaao7tbm1dug0s2w80>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jaanx5aa1dug0c9qk0 {margin:0px 0px;}
#wa-row-jaanx5aa1dug0c9qk0>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0c9zgg {margin:0px 0px;}
#wa-row-jaanx5aa1dug0c9zgg>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0ca7ao {margin:0px 0px;}
#wa-row-jaanx5aa1dug0ca7ao>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0caw8w {margin:0px 0px;}
#wa-row-jaanx5aa1dug0caw8w>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0cazr4 {margin:0px 0px;}
#wa-row-jaanx5aa1dug0cazr4>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0cbszk {margin:0px 0px;}
#wa-row-jaanx5aa1dug0cbszk>div {padding: 0px 0px;}
#wa-row-jaanzzhm1dug0cxmmo {margin:0px 0px;}
#wa-row-jaanzzhm1dug0cxmmo>div {padding: 0px 0px;}
#wa-row-jaao4am61dug0chuuo {margin:0px 0px;}
#wa-row-jaao4am61dug0chuuo>div {padding: 0px 0px;}
#wa-row-jaao6n3k1dufyuflhs {margin:0px 0px;}
#wa-row-jaao6n3k1dufyuflhs>div {padding: 0px 0px;}
#wa-row-jaao7tbm1dug0s2w80 {margin:0px 0px;}
#wa-row-jaao7tbm1dug0s2w80>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jaanx5aa1dug0c9qk0 {margin:0px 0px;}
#wa-row-jaanx5aa1dug0c9qk0>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0c9zgg {margin:0px 0px;}
#wa-row-jaanx5aa1dug0c9zgg>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0ca7ao {margin:0px 0px;}
#wa-row-jaanx5aa1dug0ca7ao>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0caw8w {margin:0px 0px;}
#wa-row-jaanx5aa1dug0caw8w>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0cazr4 {margin:0px 0px;}
#wa-row-jaanx5aa1dug0cazr4>div {padding: 0px 0px;}
#wa-row-jaanx5aa1dug0cbszk {margin:0px 0px;}
#wa-row-jaanx5aa1dug0cbszk>div {padding: 0px 0px;}
#wa-row-jaanzzhm1dug0cxmmo {margin:0px 0px;}
#wa-row-jaanzzhm1dug0cxmmo>div {padding: 0px 0px;}
#wa-row-jaao4am61dug0chuuo {margin:0px 0px;}
#wa-row-jaao4am61dug0chuuo>div {padding: 0px 0px;}
#wa-row-jaao6n3k1dufyuflhs {margin:0px 0px;}
#wa-row-jaao6n3k1dufyuflhs>div {padding: 0px 0px;}
#wa-row-jaao7tbm1dug0s2w80 {margin:0px 0px;}
#wa-row-jaao7tbm1dug0s2w80>div {padding: 0px 0px;}
}
